<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button  ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Manage Transportation Modes</div>
        </div>
    </div>
</div>
<!-- /.header-wrap -->
<div layout="column" layout-fill id="admin-list-user" class="footer-padding">
  <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
  	<md-subheader class="md-no-sticky">All Transportation Modes </md-subheader>

    <!-- <div>
        <md-button type="button" class="btn">&nbsp; Add New Transportation Mode &nbsp;</md-button>
    </div> -->

    <div class="das-profile-menu" id="map" ui-sref="adminAddUpdateTM">
        <!-- <div class="profile-menu-icon"> 
            <md-icon><img id="map-icon" src="assets/images/address-map.png" class="cursor-pointer"></md-icon>
        </div> -->
        <div class="profile-menu-item">Add New Transportation Mode</div>
    </div>

    <md-card>
      <md-input-container>
        <label>Search Transportation Mode</label>
        <input ng-model="deliveryBoySearch">
      </md-input-container>
      <md-list ng-cloak style="height: 200px; overflow-y: auto">
        <md-list-item ng-repeat="tm in tmData | toArray | filter:deliveryBoySearch" class="noright">
          <p class="no-found-text">{{tm.name | capitalize}}</p>
          <!-- <md-switch class="md-secondary" ng-model="tm.angularStatus" ng-change="changeTMStatus(tm)"></md-switch> -->
          <md-icon ui-sref="editTMAdmin({id: tm.id})" aria-label="edit tm" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon>
          <md-icon ng-click="deleteTM(tm.id)" aria-label="delete tm" class="md-secondary md-hue-3"><i class="material-icons">delete_forever</i></md-icon>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
