<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button  ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Manage Users</div>
        </div>
    </div>
</div>
<!-- /.header-wrap -->
<div layout="column" layout-fill id="admin-list-user" class="footer-padding">
  <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
  	<md-subheader class="md-no-sticky">All Delivery Man </md-subheader>

    <md-card>
      <md-input-container>
        <label>Search Delivery Man</label>
        <input ng-model="deliveryBoySearch">
      </md-input-container>
      <md-list ng-cloak style="height: 200px; overflow-y: auto">
        <md-list-item ng-repeat="deliverymanData in deliveryman | toArray | filter:deliveryBoySearch" class="noright">
          <img alt="{{deliverymanData.name}}" ng-src="assets/images/profile.png" class="md-avatar"/>
          <p class="no-found-text">{{deliverymanData.first_name | capitalize}} {{deliverymanData.last_name | capitalize}}</p>
          <md-switch class="md-secondary" ng-model="deliverymanData.angularStatus" ng-change="changeDeliveryManUserStatus(deliverymanData)"></md-switch>
          <!-- <md-icon ng-click="requestForEditReleaseAmount($event, deliverymanData)" aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon> -->
          <md-icon ui-sref="editUserProfileByAdmin({id: deliverymanData.id})" aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon>
          <md-icon ng-click="requestSendEmail($event, deliverymanData.email)" aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">email</i></md-icon>
        </md-list-item>
      </md-list>
    </md-card>

  	<md-subheader class="md-no-sticky">All Vendors </md-subheader>
    <md-card>  
      <md-input-container>
        <label>Search Vendors</label>
        <input ng-model="vendorSearch">
      </md-input-container>
      <md-list ng-cloak style="height: 200px; overflow-y: auto">
        <md-list-item ng-repeat="vendor in vendors | toArray | filter:vendorSearch" class="noright">
          <img alt="{{vendor.name}}" ng-src="assets/images/profile.png" class="md-avatar"/>
          <p class="no-found-text">{{vendor.first_name | capitalize}} {{vendor.last_name | capitalize}}</p>
          <!-- <md-switch class="md-secondary" ng-model="vendor.status"></md-switch> -->
          
          <md-icon ui-sref="editUserProfileByAdmin({id: vendor.id})"  aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon> 
          <!-- <md-icon ng-click="requestForEditVendor($event, vendor.email)"  aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon> -->
          <md-icon ng-click="requestSendEmail($event, vendor.email)" aria-label="Send Email" class="md-secondary md-hue-3"><i class="material-icons">email</i></md-icon>
          <md-icon class="md-secondary" ng-click="requestGenrateApi($event, vendor.user_id, vendor.api_key, vendor.email)" aria-label="Chat"><i class="material-icons">vpn_key</i></md-icon>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
