<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button  ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Add Transportation Modes</div>
        </div>
    </div>
</div>
<!-- /.header-wrap -->
<div layout="column" layout-fill id="admin-list-user" class="footer-padding">
  <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
    <md-card>
      <form  class="newadd-stores-form" name="Form" ng-submit="addTM()">
        <md-input-container class="md-icon-float md-block">
          <label>Name</label>
          <input type="text" name="name" ng-model="tm.name" required="" pattern="[a-zA-Z][a-zA-Z ]+" md-no-asterisk/>
          <div ng-messages="Form.name.$error" role="alert" class="form-errors first-name-error">
              <div ng-message="required">Name is required!</div>
              <div ng-message="pattern">Only alphabets allowed!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Status</label>
          <md-switch class="md-secondary" ng-model="tm.status" ng-init="tm.status=true"></md-switch>
        </md-input-container>
        <div class="login-signup-btn">
            <md-button type="submit" ng-disabled="!Form.$valid" class="btn">Submit</md-button>
        </div>
      </form>
    </md-card>
  </div>
</div>
