<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
	<div class="header dv-padding">
	  	<div class="header-title-wrap">
	  		<span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
	  		<div class="header-title">Transactions</div>
	  	</div>
    </div>
</div><!-- /.header-wrap -->
<md-content class="merchant-transactions-wrap footer-padding">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-hide="true">
        <md-card-title class="merchant-transactions-heading">
          <md-card-title-text>
            <span class="md-headline">Your Transactions</span>
            <span class="md-subhead">Your credit and debit amount transactions</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="space-between" class="merchant-transactions-details">
		    <div layout="row" layout-wrap class="mt-tra-details-row">
			  <div flx="60">
			  	<div class="mt-earned-amount">
			  		Total Earned Amount :
			  	</div>
			  </div>
			  <div flx="40">
			  	<div class="mt-earned-amount-vel">
			  		$124.16
			  	</div>
			  </div>
			</div>
			<div layout="row" layout-wrap class="mt-tra-details-row">
			  <div flx="60">
			  	<div class="mt-released-amount">
			  		Total Released Amount :
			  	</div>
			  </div>
			  <div flx="40">
			  	<div class="mt-earned-amount-vel">
			  		$104.25
			  	</div>
			  </div>
			</div>
			<div layout="row" layout-wrap class="mt-tra-details-row">
			  <div flx="60">
			  	<div class="mt-release-amount">
			  		Release Amount :	
			  	</div>
			  </div>
			  <div flx="40">
			  	<div class="mt-earned-amount-vel">
			  		$114.15
			  	</div>
			  </div>
			</div>
			<div class="mt-amount-request-btn">
		    	<md-button class="btn">Request Release</md-button>
		    	<div class="mt-amount-request-btn-des">your release request will release the amount you have before 24 hours.</div>
		    </div>
        </md-card-content>
	</md-card>
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-content layout-align="space-between">
        	<div layout="row" layout-wrap class="mt-transactions-head" style="width: 100%">
				<div flx="25" class="mt-thed-amount" style="width: 60%">
					<div class="mt-thed-title">Deliveryman</div>
				</div>
				<div flx="40" class="mt-thed-description" style="width: 20%">
					<div class="mt-thed-title">Total Relese</div>
				</div>
				<div flx="35" class="mt-thed-date" style="width: 20%">
					<div class="mt-thed-title">Remain</div>
				</div>
			</div>

	        <div class="mt-transactions-details-section">
		        <div class="mt-transactions-details-wrap">
		        	<div layout="row" layout-wrap class="mt-transactions-details" ng-repeat="(deliverymanKey, deliveryman) in deliveryBoyData" style="width: 100%">
						<div flx="25" class="mt-tdetails-amount" style="width: 60%">
							<div class="mt-tdetails-des">
								{{deliveryman.display_name}}<br/>
								<span><a href="mailto:{{deliveryman.email}}">{{deliveryman.email}}</a></span><br/>
								<span><a href="tel:{{deliveryman.contact_no}}">{{deliveryman.contact_no}}</a></span>
							</div>
						</div>
						<div flx="40" class="mt-tdetails-date" style="width: 20%">
							<div class="mt-tdetails-des">
								<span ng-show="deliveryman.released_amount">{{deliveryman.released_amount | currency}}</span>
								<span ng-hide="deliveryman.released_amount">$0</span>
							</div>
						</div>
						<div flx="35" class="mt-tdetails-date" style="width: 20%">
							<span ng-show="deliveryman.release_remainig">
								{{deliveryman.release_remainig | currency}}</br></br>
								<a ng-click="getDeliveryManReleaseData(deliveryman.id)" ng-show="deliveryman.release_remainig > 0">Release</a>
							</span>
							<span ng-hide="deliveryman.release_remainig">$0</span>
						</div>
					</div><!-- /.mt-transactions-details -->
		        </div>
	        	<div ng-app="DemoApp" flx layout="column" class="mt-pagination-wrap">
				  <div flx layout="column">
				    <section layout="row" layout-padding="">
				      <cl-paging flx cl-pages="100" , cl-steps="6" , cl-page-changed="onPageChanged()" , cl-align="center center" , cl-current-page="1"></cl-paging>
				    </section>
				  </div>
				</div><!-- /.mt-pagination-wrap -->
			</div><!-- /.mt-transactions-details-section -->

        </md-card-content>
	</md-card>
</md-content>