<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Feedbacks</div>
        </div>
  </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
      <span class="store-list-title">Feedbacks you received</span>
        <md-content class="store-list-wrap">
          <md-card md-theme="default'" md-theme-watch ng-show="feedbacks" ng-repeat="feedback in feedbacks | toArray">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-title">{{feedback.description | capitalize}}</span>
                <span class="store-list-des"><strong>Order No:</strong> {{feedback.order_id}}</span>
                <span class="store-list-des"><strong>From user:</strong> {{feedback.email}}</span>
                <span class="store-list-des"><strong>Rating:</strong> {{feedback.rating}}</span>
                <span class="store-list-des"><strong>Date:</strong> {{feedback.created_on}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <!--<div class="card-media-images cursor-pointer" ui-sref="orderDetails({id: feedback.order_id})"><img class="order-eye" src="assets/images/view.png" alt="edit icon" ng-click="viewOrderDetails(order)"></div>

                <div class="card-media-images cursor-pointer" ui-sref="feedback({id: feedback.order_id, vendorid: order.vendor_id})" ng-if="order.order_status == 'complete'"><img class="order-eye" src="assets/images/reviews_icon.png" alt="edit icon" ng-click="reviewOrder(order)"></div>-->
              </md-card-title-media>
            </md-card-title>
          </md-card>
          <md-card md-theme="default'" ng-hide="feedbacks">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No order found</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
    </div>

    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
      
      <span class="store-list-title">Your Feedbacks</span>

        <md-content class="store-list-wrap">
          <md-card md-theme="default'" md-theme-watch ng-show="givenfeedbacks" ng-repeat="feedback in givenfeedbacks | toArray">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-title">{{feedback.description | capitalize}}</span>
                <span class="store-list-des"><strong>Order No:</strong> {{feedback.order_id}}</span>
                <span class="store-list-des"><strong>To user:</strong> {{feedback.email}}</span>
                <span class="store-list-des"><strong>Rating:</strong> {{feedback.rating}}</span>
                <span class="store-list-des"><strong>Date:</strong> {{feedback.created_on}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <!--<div class="card-media-images cursor-pointer" ui-sref="orderDetails({id: feedback.order_id})"><img class="order-eye" src="assets/images/view.png" alt="edit icon" ng-click="viewOrderDetails(order)"></div>

                <div class="card-media-images cursor-pointer" ui-sref="feedback({id: feedback.order_id, vendorid: order.vendor_id})" ng-if="order.order_status == 'complete'"><img class="order-eye" src="assets/images/reviews_icon.png" alt="edit icon" ng-click="reviewOrder(order)"></div>-->
              </md-card-title-media>
            </md-card-title>
          </md-card>
          <md-card md-theme="default'" ng-hide="givenfeedbacks">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No order found</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
    </div>
</div>