<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <div class="header-title">{{userData.user_role | capitalize }} Dashboard</div>
        </div>
  </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px">
        <div class="das-profile-details">
            <div class="das-profile-img">
                <img ng-src="{{base.siteUrl}}/uploads/{{userData.image_url}}" alt="Profile">
            </div>
            <div class="das-profile-name">{{userData.first_name | capitalize}} {{userData.last_name | capitalize}}</div>
            <div class="das-profile-edit cursor-pointer" ui-sref="editProfile">Edit Profile</div>
            <div class="das-profile-edit cursor-pointer" ng-if="userData.user_role == 'deliveryman'">
            	<md-switch class="md-secondary work-status" ng-model="updateProfileData.dndMode" ng-change="changeDeliveryManWorkStatus(updateProfileData, $event)"></md-switch>
            	DND Mode
        	</div>
        </div>
        <div class="das-profile-menu-wrap dashboard-menu-wrapper">          
            <div class="das-profile-menu" ui-sref="pickupLocation" ng-if="userData.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <img id="add-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">New Order</div>
            </div>
            <div class="das-profile-menu new-order-request" ui-sref="pendingOrderRequests" ng-if="userData.user_role == 'deliveryman'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">New Requests</div>
                <i class="material-icons req-noti-icon" ng-if="orderNotification">notifications_active</i>
            </div>
            <div class="das-profile-menu" ui-sref="adminDashboard" ng-if="userData.user_role == 'administrator'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">Manage Users</div>
            </div>
            <div class="das-profile-menu" ui-sref="adminManageTM" ng-if="userData.user_role == 'administrator'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">Manage Transportation Modes</div>
            </div>

            <div class="das-profile-menu" ui-sref="addUserProfileByAdmin" ng-if="userData.user_role == 'administrator'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/profile.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">Add Users</div>
            </div>

            <!-- Show deliveryman transaction-->

            <div class="das-profile-menu" ui-sref="deliverymanTransactions" ng-if="userData.user_role == 'deliveryman'&&userData.inhouse_vendor==''">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Transaction</div>
            </div>

            <!-- Show deliveryman transaction-->
            <div class="das-profile-menu" ui-sref="editAvailability" ng-if="userData.user_role == 'deliveryman'">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Edit Availability</div>
            </div>
            
            <!-- Show Admin transaction-->
            <div class="das-profile-menu" ui-sref="adminTransactions" ng-if="userData.user_role == 'administrator'">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Transaction</div>
            </div>

            <div class="das-profile-menu" ui-sref="userOrders" ng-if="userData.user_role == 'deliveryman' || userData.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <img src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">My Orders</div>
            </div>
            <div class="das-profile-menu" ui-sref="userStore" ng-if="userData.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <md-icon><img src="assets/images/input-countruy.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">Address-book / Stores</div>
            </div>
            <div class="das-profile-menu" ng-hide="true">
                <div class="profile-menu-icon">
                    <img src="assets/images/profile-setting.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Setting</div>
            </div>
            
            <div class="das-profile-menu" id="map" ui-sref="deliveryBoys" ng-if="userData.user_role == 'administrator'">
                <div class="profile-menu-icon"> 
                    <md-icon><img id="map-icon" src="assets/images/address-map.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">Track Deliveryman</div>
            </div>
            <div class="das-profile-menu" id="map" ui-sref="deliveryBoys" ng-hide="true">
                <div class="profile-menu-icon"> 
                    <md-icon><img id="map-icon" src="assets/images/address-map.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">All Delivery Man</div>
            </div>
			<div class="das-profile-menu" id="map" ui-sref="allFeedbacks" ng-if="userData.user_role == 'deliveryman' || userData.user_role == 'vendor'">
                <div class="profile-menu-icon"> 
                    <md-icon><img id="map-icon" src="assets/images/address-map.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">Feedback</div>
            </div>
            <div class="das-profile-menu" ng-click="userLogOut()">
                <div class="profile-menu-icon">
                    <img src="assets/images/profile-logout.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item cursor-pointer">Logout</div>
            </div>
        </div>
    </div>
</div>