<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Track Delivery Man</div>
        </div>
    </div>
</div>
<!-- /.header-wrap -->
<div layout="column" class="footer-padding" layout-fill id="delivery-boys-tracker">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <md-content class="store-list-wrap">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div layout-gt-sm="row" layout-xs="row">
                            <md-input-container class="md-icon-float md-block" flex-xs flex-gt-sm>
                                <label>Distance to cover</label>
                                <md-select ng-model="options.distance_covered" ng-change="optionChanged()">
                                    <md-optgroup label="Distance to cover to check Delivery Boys">
                                        <md-option ng-value="5"> < 5 KM</md-option>
                                        <md-option ng-value="10"> < 10 KM</md-option>
                                        <md-option ng-value="18"> < 18 KM</md-option>
                                        <md-option ng-value="23"> < 23 KM</md-option>
                                        <md-option ng-value="30"> < 30 KM</md-option>
                                        <md-option ng-value="50"> < 50 KM</md-option>
                                        <md-option ng-value="100"> < 100 KM</md-option>
                                        <md-option ng-value="100000" selected>All</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" flex-xs flex-gt-sm>
                                <label>Work Status</label>
                                <md-select ng-model="options.work_status" ng-change="optionChanged()">
                                    <md-optgroup label="Work Status of Delivery Men">
                                        <md-option ng-value="0" selected>Free</md-option>
                                        <md-option ng-value="1">Busy</md-option>
                                        <md-option ng-value="2">Any</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-card-title-text>
                    <!-- <md-card-title-media>
                    </md-card-title-media> -->
                </md-card-title>
                <div class="map tracker-map form-group">
                	<span id="reload-icon" ng-click="sycDeliveryBoys();"><img src="assets/images/sync.png"></span>
                    <ng-map zoom="16"></ng-map>
                </div>
            </md-card>
            <md-subheader class="md-no-sticky">
                Near by Delivery Man
            </md-subheader>
            <md-card md-theme="default'" md-theme-watch ng-repeat="delivery_boy in delivery_boys" ng-show="delivery_boys">
              <md-card-title>
                <md-card-title-text>
                  <span class="store-list-title">{{ delivery_boy.name }}</span>
                  <span class="store-list-des">{{ delivery_boy.address }}</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="card-media">{{ delivery_boy.distance | number:2}} KM</div>
                </md-card-title-media>
              </md-card-title>
            </md-card>

            <md-card md-theme="default'" md-theme-watch ng-hide="delivery_boys">
              <md-card-title>
                <md-card-title-text>
                  <span class="store-list-title">No delivery boy found!</span>
                </md-card-title-text>
              </md-card-title>
            </md-card>
        </md-content>
    </div>
</div>
