<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
  <div class="header dv-padding">
      <div class="header-title-wrap">
        <span class="heder-button-left"><md-button ui-sref="pickupLocation"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
        <div class="header-title">Drop Location</div>
        <!-- <span class="heder-button-right" ng-show="currentUser.droplocation !=='' && currentUser.droplocation"><md-button ui-sref="itemDetails"><i class="material-icons">keyboard_arrow_right</i></md-button></span> -->
      </div>
    </div>
</div><!-- /.header-wrap -->
<md-content class="dv-padding footer-padding" style="min-height:{{documentHeight}}px;">
  <md-input-container class="md-icon-float md-block" flex-gt-sm>
      <input ng-model="currentUser.droplocation" id="pac-input" details="details2" options="options2" ng-autocomplete ng-change="addressChange()"/>
  </md-input-container>

  <div class="map form-group">
    <ng-map zoom="14"></ng-map>
  </div>

  <md-divider></md-divider>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ng-click="goToItemDetails()" class="btn dropl-btn-wrap" ng-disabled="currentUser.droplocation=='' || !currentUser.droplocation">Next</md-button>
  </section>
</md-content>
