<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Edit Profile</div>
        </div>
  </div>
</div><!-- /.header-wrap -->

<md-content class="dv-padding edit-profile footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <div class="das-profile-details">
            <div class="das-profile-img">
                <img ng-src="{{base.siteUrl}}/uploads/{{userData.image_url}}" alt="Profile">
            </div>
            <!-- <p><div class="das-profile-edit cursor-pointer" ng-click="editTimeAvailability($event, updateProfileData)">Edit time availability</div></p> -->
        </div>
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="newadd-form newadd-users-wrap">
			<form name="profileUpdateForm" class="newadd-users-form" ng-submit="updateUserProfile();">
			   	<!-- First Name -->
			   	<md-input-container class="md-icon-float md-block">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.first_name" placeholder="First Name" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.first_name.$error">
			            <div ng-message="">First Name is .</div>			            
			        </div>
			    </md-input-container>

			    <!-- Last Name -->
			    <md-input-container class="md-icon-float md-block">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.last_name" placeholder="Last name" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.last_name.$error">
			            <div ng-message="">Last name is .</div>
			        </div>
			    </md-input-container>

			    <!-- Email -->
			    <md-input-container class="md-icon-float md-block">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.email" placeholder="Email" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.email.$error">
			            <div ng-message="">User email is .</div>			            
			        </div>
			    </md-input-container>			    

			    <!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Company</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.company" md-no-asterisk/>
			        <div ng-messages="projectForm.company.$error" role="alert">
			            <div ng-message="">user company is .</div>
			        </div>
			    </md-input-container>

			   	<!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Phone (i.e +610433775699)</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.contact_no" md-no-asterisk/>
			        <div ng-messages="projectForm.contact_no.$error" role="alert">
			            <div ng-message="">Phone number is .</div>
			        </div>
			    </md-input-container>

			    <!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Address 1</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.address_1" md-no-asterisk/>
			        <div ng-messages="projectForm.address_1.$error" role="alert">
			            <div ng-message="">Address 1 number is .</div>
			        </div>
			    </md-input-container>

			    <!-- Address 2 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Adress 2</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="address_2" ng-model="updateProfileData.address_2" md-no-asterisk/>
			        <div ng-messages="projectForm.address_2.$error" role="alert">
			            <div ng-message="">user address2 is .</div>
			        </div>
			    </md-input-container>

			    <!-- City -->
			    <md-input-container class="md-icon-float md-block">
			        <label>City</label>
			        <md-icon><img src="assets/images/input-city.png"></md-icon>
			        <input type="text" name="address1" ng-model="updateProfileData.city" md-no-asterisk/>
			        <div ng-messages="projectForm.city.$error" role="alert">
			            <div ng-message="">user city is .</div>
			        </div>
			    </md-input-container>

			    <!-- State -->
			    <md-input-container class="md-icon-float md-block" flex-xs>
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">State</label>
	                <md-select ng-model="updateProfileData.state">
						<md-option value="New South Wales">New South Wales</md-option>
						<md-option value="Western Australia">Western Australia</md-option>
						<md-option value="Victoria">Victoria</md-option>
						<md-option value="Queensland">Queensland</md-option>
						<md-option value="Tasmania">Tasmania</md-option>
						<md-option value="South Australia">South Australia</md-option>
						<md-option value="Northern Territory">Northern Territory</md-option>
						<md-option value="Australian Capital Territory">Australian Capital Territory</md-option>
						<md-option value="Christmas Island">Christmas Island</md-option>
						<md-option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</md-option>
						<md-option value="Jervis Bay Territory">Jervis Bay Territory</md-option>
						<md-option value="Norfolk Island">Norfolk Island</md-option>
	                </md-select>
	             </md-input-container>

			    <!-- Zip Code -->
			    <md-input-container class="md-icon-float md-block">
			    <label>Zipcode</label>
			    <md-icon><img src="assets/images/input-zip.png"></md-icon>
			    <input type="text" name="address1" ng-model="updateProfileData.zip" md-no-asterisk/>
			    <div ng-messages="projectForm.zip.$error" role="alert">
			        <div ng-message="">user zip is .</div>
			    </div>
			    </md-input-container>

			    <!-- Country -->
			    <md-input-container class="md-icon-float md-block" flex-xs>
	               <md-icon><img src="assets/images/input-countruy.png"></md-icon>
	                <label class="item-detalis-lable">Country</label>
	                <md-select ng-model="updateProfileData.country" id="item-type">
	                   <md-option value="Australia" selected>Australia</md-option>
	                </md-select>
	            </md-input-container>
			    
			    <!-- Transport Mode -->
			    <md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">Trnsport Mode</label>
	                <md-select ng-model="updateProfileData.transport_mode" ng-init="(updateProfileData.transport_mode=='') ? updateProfileData.transport_mode='Bike' : null;">
						<md-option value="Bicycle">Bicycle</md-option>
						<md-option value="Bike">Bike</md-option>
						<md-option value="Mini Van">Mini Van</md-option>
						<md-option value="Truck">Truck</md-option>
	                </md-select>
	            </md-input-container>


				<!-- Delivery Mode -->                
                <md-radio-group ng-model="updateProfileData.delivery_mode" class="radio" ng-init="updateProfileData.deliveryVia='delivery_mode'" ng-if="updateProfileData.user_role=='deliveryman'">
                	<md-icon class="material-icons" aria-hidden="true"><img src="assets/images/input-state.png"></md-icon>
                    <md-radio-button value="dialadelivery">Dialadelivery</md-radio-button>
                    <md-radio-button value="inhouse"> In-house </md-radio-button>
                </md-radio-group>

               	
			    <md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'&&updateProfileData.delivery_mode=='inhouse'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">Select Vendor</label>
	                <md-select ng-model="updateProfileData.inhouse_vendor">
						<md-option value="">Select Vendor</md-option>
						<md-option value="{{updateVendorProfileData.id}}" selected>{{updateVendorProfileData.display_name}}</md-option>
	                </md-select>
	            </md-input-container>
	            <md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'">
	               
	                <label class="item-detalis-lable">Per Km. Charges</label>
					<md-radio-group class="radio" ng-model="updateProfileData.pay_type" ng-init="updateProfileData.deliveryPay='pay_type'">
						<md-icon class="material-icons" aria-hidden="true"><img src="assets/images/input-state.png"></md-icon>
	                    <md-radio-button value="manual">Manual</md-radio-button>
	                    <md-radio-button value="system"> System generate </md-radio-button>
					</md-radio-group>
				</md-input-container>
				
				<md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'&&updateProfileData.pay_type=='manual'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">Select charges</label>
	                <md-select ng-model="updateProfileData.deliveryman_per_km_charge">
						<md-option value="">Select charge</md-option>
						<md-option value="0.90">0.90 cts</md-option>
						<md-option value="0.95">0.95 cts</md-option>
						<md-option value="1.00">$1.00</md-option>
						<md-option value="1.05">$1.05</md-option>
						<md-option value="1.10">$1.10</md-option>
						<md-option value="1.15">$1.15</md-option>
						<md-option value="1.20">$1.20</md-option>
						<md-option value="1.25">$1.25</md-option>
						<md-option value="1.30">$1.30</md-option>
						<md-option value="1.35">$1.35</md-option>
	                </md-select>
	            </md-input-container>
				
				<md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'&&updateProfileData.pay_type=='system'">
			    <md-radio-group class="radio" ng-model="updateProfileData.pay_sys_type" ng-change="deliveryCharges()">
					<md-icon class="material-icons" aria-hidden="true"><img src="assets/images/input-state.png"></md-icon>
                    <md-radio-button value="average">Average</md-radio-button>
                    <md-radio-button value="mode">Mode</md-radio-button>
				</md-radio-group>
			    <input type="text" name="amt" ng-model="updateProfileData.deliveryman_per_km_charge" placeholder="charges" md-no-asterisk/>
			    <div ng-messages="projectForm.zip.$error" role="alert">
			        <div ng-message="">System charges</div>
			    </div>
			    </md-input-container>
	            
			    <div class="newadd-btn-wrap">
			      <md-button class="btn" type="submit">Submit</md-button>
			    </div>
			</form>
        </div>
    </div>
</md-content>