<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Edit Profile</div>
        </div>
  </div>
</div><!-- /.header-wrap -->

<md-content class="dv-padding edit-profile footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <div class="das-profile-details">
            <div class="das-profile-img">
                <img ng-src="{{base.siteUrl}}/uploads/{{userData.image_url}}" alt="Profile">
            </div>
	    </div>
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="newadd-form newadd-users-wrap">
			<form name="multipleSelectForm" class="newadd-users-form">
		    
	            <!-- Transport Mode -->
			    <md-input-container class="md-icon-float md-block time-availability" flex-xs ng-if="updateProfileData.user_role=='deliveryman'">
			    	<label class="item-detalis-lable">FROM</label>
			    	<md-time-picker ng-model="updateProfileData.time_avalibility_from" message="message"></md-time-picker>
	            </md-input-container>

				<!-- Transport Mode -->
			    <md-input-container class="md-icon-float md-block time-availability" flex-xs ng-if="updateProfileData.user_role=='deliveryman'">
			    	<label class="item-detalis-lable">To</label>
			    	<md-time-picker ng-model="updateProfileData.time_avalibility_to" message="message"></md-time-picker>
		    	</md-input-container>

                <div ng-class="{'has-error' : multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty, 'has-success' : !multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty}">
                    <label>State</label>
    		        <multiple-autocomplete ng-model="stateAvailability"
                        object-property="name"
                        suggestions-arr="optionsList" required="true">
                   </multiple-autocomplete>
                    <span ng-show="multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty" class="ng-hide">
                        <p class="error-msg" ng-show="multipleSelectForm.multipleSelect.$error.required">Please select something from multiple select field</p>
                    </span>
                </div>

			    <div class="newadd-btn-wrap">
			      <md-button class="btn" type="button" ng-click="updateUserTimeAvailability(updateProfileData, stateAvailability);" ng-disabled="multipleSelectForm.$invalid">Save</md-button>
			    </div>
			</form>
        </div>
    </div>
</md-content>