<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title" ng-if="updateProfileData.id">Edit Profile</div>
            <div class="header-title" ng-if="!updateProfileData.id" >Add Profile</div>
        </div>
  </div>
</div>

<md-content class="dv-padding edit-profile footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <div class="das-profile-details">
            <div class="das-profile-img">
                <img src="assets/images/profile.png" alt="Profile">
            </div>
        </div>
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        
        <div class="newadd-form newadd-users-wrap">
			<form name="profileUpdateForm" class="newadd-users-form" ng-submit="updateUserProfileByAdmin(updateProfileData);">
			   	<!-- First Name -->
			   	<md-input-container class="md-icon-float md-block">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.first_name" placeholder="First Name" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.first_name.$error">
			            <div ng-message="">First Name is .</div>			            
			        </div>
			    </md-input-container>

			    <!-- Last Name -->
			    <md-input-container class="md-icon-float md-block">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.last_name" placeholder="Last name" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.last_name.$error">
			            <div ng-message="">Last name is .</div>
			        </div>
			    </md-input-container>

			    <!-- Email -->
			    <md-input-container class="md-icon-float md-block" ng-if="updateProfileData.id">
			        <md-icon><img src="assets/images/input-name.png"></md-icon>
			        <input name="user Name" ng-model="updateProfileData.email" placeholder="Email" md-no-asterisk>
			        <div ng-messages="profileUpdateForm.email.$error">
			            <div ng-message="">User email is .</div>			            
			        </div>
			    </md-input-container>	

			    <md-input-container class="md-icon-float md-block" ng-if="!updateProfileData.id">
                        <label>Password</label>
                        <md-icon><img src="assets/images/input-name.png"></md-icon>
                        <input type="password" name="password" ng-model="updateProfileData.password" required="" pattern="^[A-Za-z0-9!@#$%^&*()_]{6,20}$" md-minlength="6" md-maxlength="20" md-no-asterisk/>
                        <div ng-messages="Form.password.$error" role="alert"  class="form-errors first-name-error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="pattern">Password Must be 6 digit.</div>
                            <div ng-message="minlength">Password is too small</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" ng-if="!updateProfileData.id">
                        <label>Confirm Password</label>
                        <md-icon><img src="assets/images/input-name.png"></md-icon>
                        <input type="password" name="rePassword" ng-model="updateProfileData.rePassword" required="" compare-to="updateProfileData.password" md-minlength="6" md-maxlength="20" pattern="^[A-Za-z0-9!@#$%^&*()_]{6,20}$" md-no-asterisk/>
                        <div ng-messages="Form.rePassword.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="pattern">Password Must be 6 digit.</div>
                            <div ng-message="compareTo">Password not matched</div>
                            <div ng-message="minlength">Password is too small</div>
                        </div>
                    </md-input-container>

			    <md-input-container class="md-icon-float md-block" ng-if="!updateProfileData.id" flex-xs ng-init="updateProfileData.user_role='deliveryman'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">User Role</label>
	                <md-select ng-model="updateProfileData.user_role">
						<md-option value="deliveryman">Delivery Man</md-option>
						<md-option value="vendor">Vendor</md-option>
	                </md-select>
	            </md-input-container>	

			    <!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Company</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.company" md-no-asterisk/>
			        <div ng-messages="updateProfileData.company.$error" role="alert">
			            <div ng-message="">user company is .</div>
			        </div>
			    </md-input-container>

			   	<!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Phone (i.e +610433775699)</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.contact_no" md-no-asterisk/>
			        <div ng-messages="updateProfileData.contact_no.$error" role="alert">
			            <div ng-message="">Phone number is .</div>
			        </div>
			    </md-input-container>

			    <!-- Address 1 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Address 1</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="company" ng-model="updateProfileData.address_1" md-no-asterisk/>
			        <div ng-messages="updateProfileData.address_1.$error" role="alert">
			            <div ng-message="">Address 1 number is .</div>
			        </div>
			    </md-input-container>

			    <!-- Address 2 -->
			    <md-input-container class="md-icon-float md-block">
			        <label>Adress 2</label>
			        <md-icon><img src="assets/images/input-address.png"></md-icon>
			        <input type="text" name="address_2" ng-model="updateProfileData.address_2" md-no-asterisk/>
			        <div ng-messages="updateProfileData.address_2.$error" role="alert">
			            <div ng-message="">user address2 is .</div>
			        </div>
			    </md-input-container>

			    <!-- City -->
			    <md-input-container class="md-icon-float md-block">
			        <label>City</label>
			        <md-icon><img src="assets/images/input-city.png"></md-icon>
			        <input type="text" name="address1" ng-model="updateProfileData.city" md-no-asterisk/>
			        <div ng-messages="updateProfileData.city.$error" role="alert">
			            <div ng-message="">user city is .</div>
			        </div>
			    </md-input-container>

			    <!-- State -->
			    <md-input-container class="md-icon-float md-block" flex-xs>
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">State</label>
	                <md-select ng-model="updateProfileData.state">
						<md-option value="New South Wales">New South Wales</md-option>
						<md-option value="Western Australia">Western Australia</md-option>
						<md-option value="Victoria">Victoria</md-option>
						<md-option value="Queensland">Queensland</md-option>
						<md-option value="Tasmania">Tasmania</md-option>
						<md-option value="South Australia">South Australia</md-option>
						<md-option value="Northern Territory">Northern Territory</md-option>
						<md-option value="Australian Capital Territory">Australian Capital Territory</md-option>
						<md-option value="Christmas Island">Christmas Island</md-option>
						<md-option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</md-option>
						<md-option value="Jervis Bay Territory">Jervis Bay Territory</md-option>
						<md-option value="Norfolk Island">Norfolk Island</md-option>
	                </md-select>
	             </md-input-container>

			    <!-- Zip Code -->
			    <md-input-container class="md-icon-float md-block">
			    <label>Zipcode</label>
			    <md-icon><img src="assets/images/input-zip.png"></md-icon>
			    <input type="text" name="address1" ng-model="updateProfileData.zip" md-no-asterisk/>
			    <div ng-messages="updateProfileData.zip.$error" role="alert">
			        <div ng-message="">user zip is .</div>
			    </div>
			    </md-input-container>

			    <!-- Country -->
			    <md-input-container class="md-icon-float md-block" flex-xs>
	               <md-icon><img src="assets/images/input-countruy.png"></md-icon>
	                <label class="item-detalis-lable">Country</label>
	                <md-select ng-model="updateProfileData.country" id="item-type">
	                   <md-option value="Australia" selected>Australia</md-option>
	                </md-select>
	            </md-input-container>
			    
			    <!-- Transport Mode -->
			    <md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">Trnsport Mode</label>
	                <md-select ng-model="updateProfileData.transport_mode" ng-init="(updateProfileData.transport_mode=='') ? updateProfileData.transport_mode='Bike' : null;">
						<md-option value="Bicycle">Bicycle</md-option>
						<md-option value="Bike">Bike</md-option>
						<md-option value="Mini Van">Mini Van</md-option>
						<md-option value="Truck">Truck</md-option>
	                </md-select>
	            </md-input-container>


				<!-- Delivery Mode -->                
                <md-radio-group ng-model="updateProfileData.delivery_mode" class="radio" ng-if="updateProfileData.user_role=='deliveryman'"> <!--ng-init="updateProfileData.delivery_mode='dialadelivery'"-->
                	<md-icon class="material-icons" aria-hidden="true"><img src="assets/images/input-state.png"></md-icon>
                    <md-radio-button value="dialadelivery">Dialadelivery</md-radio-button>
                    <md-radio-button value="inhouse"> In-house </md-radio-button>
                </md-radio-group>

               	<!-- Transport Mode -->
			    <md-input-container class="md-icon-float md-block" flex-xs ng-if="updateProfileData.user_role=='deliveryman'&&updateProfileData.delivery_mode=='inhouse'">
	               <md-icon><img src="assets/images/input-state.png"></md-icon>
	                <label class="item-detalis-lable">Select Vendor</label>
	                <md-select ng-model="updateProfileData.inhouse_vendor">
						<md-option value="">Select Vendor</md-option>
						<!-- <md-option value="18">Junoon</md-option> -->
						<md-option value="{{updateVendorProfileData.id}}" selected>{{updateVendorProfileData.display_name}}</md-option>
	                </md-select>
	            </md-input-container>

		    	<div class="md-dialog-content" ng-cloak ng-if="updateProfileData.user_role=='vendor'">
			        <!-- <md-switch md-invert ng-model="updateProfileData.status">
			          User Status          
			        </md-switch> -->
			        <!-- <md-input-container class="md-icon-float md-block">
			          <md-icon class="name"><i class="material-icons">swap_calls</i></md-icon>
			          <input ng-model="updateProfileData.commission" placeholder="Commision" type="text" readonly="">
			        </md-input-container> -->
			        <md-input-container class="md-icon-float md-block" >
			          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
			          <input ng-model="updateProfileData.vendor_per_km_charge" placeholder="Vendor KM/AUD" type="text" ng-change="calculateCommistionPercetage(updateProfileData.deliveryman_per_km_charge, updateProfileData.vendor_per_km_charge)">
			        </md-input-container>
			        <md-input-container class="md-icon-float md-block">
			          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
			          <input ng-model="updateProfileData.deliveryman_per_km_charge" placeholder="Deliveryman KM/AUD" type="text" ng-change="calculateCommistionPercetage(updateProfileData.deliveryman_per_km_charge, updateProfileData.vendor_per_km_charge)">
			        </md-input-container>
			    </div>

		        <md-input-container class="md-icon-float md-block">
		          <!-- <label>Release Amount</label> -->
		          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
		          <input ng-model="updateProfileData.min_release_amt" placeholder="Min Release Amount" type="text">
				    <div ng-messages="updateProfileData.min_release_amt.$error" role="alert">
				        <div ng-message="">Release Amount is required .</div>
				    </div>
		        </md-input-container>

			    <div class="newadd-btn-wrap">
			      <md-button class="btn" type="submit">Submit</md-button>
			    </div>
			</form>
        </div>
    </div>
</md-content>