<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Edit Profile</div>
        </div>
  </div>
</div><!-- /.header-wrap -->

<md-content class="dv-padding edit-profile footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <div class="das-profile-details">
            <div class="das-profile-img">
                <img ng-src="{{base.siteUrl}}/uploads/{{userData.image_url}}" alt="Profile">
            </div>
	    </div>
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="newadd-form newadd-users-wrap">
			<form name="multipleSelectForm" class="newadd-users-form">
                <div ng-class="">
                    <label>Select Availability</label>
                    <tags-input ng-model="tags" ng-click="loadTimePickerPopup()" display-property="display"></tags-input>
                </div>

                <md-input-container class="md-icon-float md-block" flex-xs>
                   <md-icon><img src="assets/images/input-state.png"></md-icon>
                    <label class="item-detalis-lable">State</label>
                    <md-select ng-model="user.state" ng-change="getCities()" required>
                        <md-option ng-repeat="state in statesData" value="{{state.state_code}}">{{state.state}}</md-option>
                    </md-select>
                 </md-input-container>

                 <!-- City -->
                <md-input-container class="md-icon-float md-block">
                    <label class="item-detalis-lable">City</label>
                    <md-select ng-model="user.city" >
                        <md-option ng-repeat="city in cityData" value="{{city}}">{{city}}</md-option>
                    </md-select>
                </md-input-container>

                <div ng-class="{'has-error' : Form.multipleSelect.$invalid && Form.multipleSelect.$dirty, 'has-success' : !Form.multipleSelect.$invalid && Form.multipleSelect.$dirty}">
                    <label>Suburbs</label>
                    <multiple-autocomplete ng-model="user.suburbs"
                        object-property="name"
                        suggestions-arr="suburbsData" required="true">
                   </multiple-autocomplete>
                    <span ng-show="Form.multipleSelect.$invalid && Form.multipleSelect.$dirty" class="ng-hide">
                        <p class="error-msg" ng-show="Form.multipleSelect.$error.required">Please select something from multiple select field</p>
                    </span>
                </div>

			    <div class="newadd-btn-wrap">
			      <md-button class="btn" type="button" ng-click="updateUserAvailability(updateProfileData, stateAvailability);" ng-disabled="multipleSelectForm.$invalid">Save</md-button>
			    </div>
			</form>
        </div>
    </div>
</md-content>