<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="userOrders"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Feedback</div>
        </div>
  </div>
</div><!-- /.header-wrap -->

<md-content class="dv-padding footer-padding">
    <div class="login-signup-form" style="min-height:{{documentHeight}}px;">
        <div class="newadd-form newadd-users-wrap">
			<form name="Form" class="newadd-users-form" ng-submit="sendfeedback()">
				<md-input-container class="md-icon-float md-block">
                    <label>Your Feedback</label>
                    <md-icon><img src="assets/images/form-name.png"></md-icon>
                    <input type="text" name="description" ng-model="feed.description" required="" md-no-asterisk/>
                    <div ng-messages="Form.description.$error" role="alert" class="form-errors first-name-error">
                        <div ng-message="required">Description is required!</div>
                    </div>
                </md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Your Rating</label>
					<input-stars max="5" ng-model="feed.rating"
					    icon-base="fa fa-fw"
					    icon-empty="fa-star-o"
					    icon-half="fa-star-half-o"
					    icon-full="fa-star" 
					    icon-hover-full="fa-star"></input-stars>
                </md-input-container>
                <div class="login-btn">
                    <md-button type="submit" ng-disabled="!Form.$valid" class="btn">Send</md-button>
                </div>
				<!-- <button ng-click="sendfeedback()">Send</button> -->
			</form>
        </div>
    </div>
</md-content>