<div layout="column" layout-fill>
    <div class="das-profile-wrap container-white-bg">
        <div class="das-profile-menu-wrap sticky-footer">
            <!-- New Order Request for deliveryman -->     
            <div class="das-profile-menu sticky-bottom" ui-sref="pendingOrderRequests" ng-if="loginUserDatas.user_role == 'deliveryman'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">New Requests</div>
            </div>
            <!-- Vendor create new order --> 
            <div class="das-profile-menu" ui-sref="pickupLocation" ng-if="loginUserDatas.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item ">Order</div>
            </div>
            <!-- Manage User -->
            <div class="das-profile-menu" ui-sref="adminDashboard" ng-if="loginUserDatas.user_role == 'administrator'">
                <div class="profile-menu-icon">
                    <img id="plus-icon" src="assets/images/adding.png" alt="Menu icon" class="cursor-pointer" >
                </div>
                <div class="profile-menu-item">Manage Users</div>
            </div>
            <!-- Show all order of vendors and delivery man -->
            <div class="das-profile-menu" ui-sref="userOrders" ng-if="loginUserDatas.user_role == 'deliveryman' || loginUserDatas.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <img id="order-book" src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Orders</div>
            </div>
            <!-- Show Store and addressess of vendors -->
            <div class="das-profile-menu" ui-sref="userStore" ng-if="loginUserDatas.user_role == 'vendor'">
                <div class="profile-menu-icon">
                    <md-icon><img src="assets/images/input-countruy.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">Address</div>
            </div>

            <!-- Show deliveryman transaction-->
            <div class="das-profile-menu" ui-sref="deliverymanTransactions" ng-if="loginUserDatas.user_role == 'deliveryman'&&loginUserDatas.inhouse_vendor==''">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Transaction</div>
            </div>

            <!-- Show deliveryman transaction-->
            <div class="das-profile-menu" ui-sref="editAvailability" ng-if="loginUserDatas.user_role == 'deliveryman'">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Availability</div>
            </div>

            <!-- Show Admin transaction-->
            <div class="das-profile-menu" ui-sref="adminTransactions" ng-if="loginUserDatas.user_role == 'administrator'">
                <div class="profile-menu-icon"> 
                    <img  src="assets/images/profile-orders.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item">Transaction</div>
            </div>
            <!-- Track All deliveryman by administrator-->
            <div class="das-profile-menu" ui-sref="deliveryBoys" ng-if="loginUserDatas.user_role == 'administrator'">
                <div class="profile-menu-icon"> 
                    <md-icon><img id="footer-delivery-map" src="assets/images/address-map.png" class="cursor-pointer"></md-icon>
                </div>
                <div class="profile-menu-item">Track</div>
            </div>
            <div class="das-profile-menu" ng-click="userLogOut()">
                <div class="profile-menu-icon">
                    <img src="assets/images/profile-logout.png" alt="Menu icon" class="cursor-pointer">
                </div>
                <div class="profile-menu-item cursor-pointer">Logout</div>
            </div>
        </div>
    </div>
</div>