<div layout="column" layout-fill class="header-logo-wrap">
    <div class="header-logo">
       <img src="assets/images/logo.png" alt="Logo">
    </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="login-signup-wrap">
    <div class="login-signup-tabs">
        <md-tabs flex layout="column" md-dynamic-height md-stretch-tabs="always">
            <md-tab flex layout="column"> <span class="vender-style">Forgot Password</span></md-tab>
        </md-tabs>
        <md-content class="dv-padding">
            <div class="newadd-form login-signup-form">
                
                <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>
                <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>

                <form name="Form" ng-submit="forgotPasswordSubmit()" class="newadd-stores-form">
                    <md-input-container class="md-icon-float md-block">
                        <label>Enter Your Registered Email</label>
                        <md-icon><img src="assets/images/form-email.png"></md-icon>
                        <input type="email" name="email" ng-model="user.email" required="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" md-no-asterisk/>
                        <div ng-messages="Form.email.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Email is required!</div>
                            <div ng-message="pattern">Please Correct Your Email ID!</div>
                        </div>
                    </md-input-container>
                    <div class="login-btn">
                        <md-button type="submit" ng-disabled="!Form.$valid" class="btn">Send</md-button>
                    </div>
                    <div class="login-botton-link">
                      <span class="login-link-text"><a class="link" ui-sref="login">Go to login</a></span>
                      <span class="login-link-text"><a ui-sref="signup">Create Accout?</a></span>
                   </div>
                </form>
            </div>
        </md-content>
    </div>
</div>