<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
  <div class="header dv-padding">
      <div class="header-title-wrap">
        <span class="heder-button-left"><md-button ui-sref="dropLocation"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
        <div class="header-title">Item Details</div>
        <span class="heder-button-right" ng-hide="activeNext"><md-button ui-sref="orderSummary"><i class="material-icons">keyboard_arrow_right</i></md-button></span>
      </div>
    </div>
</div><!-- /.header-wrap -->

<md-content class="dv-padding footer-padding" style="min-height:{{documentHeight}}px" class="item-details-container">
  <div layout="row" layout-sm="column" layout-wrap class="goods-itemlist-wrap">
    <md-content class="add-glf-wrap" ng-repeat="item in items">
       <div ng-show="items.length > 1" class="gil-btn-remove" ng-click="removeItem($index)"><i class="material-icons">close</i></div>
       <div class="newadd-form add-glf-form">
         <form class="newadd-stores-form">
             <md-input-container class="md-icon-float md-block">
               <label class="item-detalis-lable">Item Name</label>
               <md-icon><img src="assets/images/input-name.png"></md-icon>
               <input required type="text" name="item_name" ng-model="currentUser.itemDetail[$index].item_name" md-no-asterisk ng-change="checkItemDetails()"/>
             </md-input-container>

             <md-input-container class="md-icon-float md-block" flex-xs>
               <md-icon><img src="assets/images/input-name.png"></md-icon>
                <label class="item-detalis-lable">Type</label>
                <md-select ng-model="currentUser.itemDetail[$index].item_type" ng-change="checkItemDetails()" id="item-type">
                   <md-option value="solid">Solid</md-option>
                   <md-option value="glass">Glass</md-option>
                   <md-option value="sensitive">Sensitive</md-option>
                </md-select>
             </md-input-container>

              <md-input-container class="md-icon-float md-block" flex-xs>
               <label class="item-detalis-lable">Quantity</label>
               <md-icon><img src="assets/images/input-name.png"></md-icon>
               <input required type="number" name="item_qty" min="1" ng-model="currentUser.itemDetail[$index].item_qty" md-no-asterisk ng-change="checkItemDetails()"/>
             </md-input-container>

             <md-input-container class="md-icon-float md-block">
               <label class="item-detalis-lable">Weight In KG</label>
               <md-icon><img src="assets/images/input-name.png"></md-icon>
               <input required type="number" name="item_weight" min="1" ng-model="currentUser.itemDetail[$index].item_weight" md-no-asterisk ng-change="checkItemDetails()"/>
             </md-input-container>
             <md-input-container class="md-icon-float md-block">
               <label class="item-detalis-lable">Value($)</label>
               <md-icon><img src="assets/images/input-name.png"></md-icon>
               <input required type="number" name="item_value" min="1" ng-model="currentUser.itemDetail[$index].item_value" md-no-asterisk ng-change="checkItemDetails()"/>
             </md-input-container>
         </form>
       </div>
    </md-content>
  </div>

  <div class="gil-btn-wrap">
    <md-button class="btn small" type="button" ng-click="addNewitem()" ng-disabled="activeNext">Add More</md-button>
  </div>

  <div class="spick-note-wrap">
    <md-input-container class="textarea-design  md-block">
      <label>Short Pick Note</label>
      <textarea ng-model="currentUser.item.shortNote" md-maxlength="150" rows="3" md-select-on-focus></textarea>
    </md-input-container>
  </div>

  <!-- End user Details -->

  <div layout="row" layout-sm="column" layout-wrap class="goods-itemlist-wrap">
  <md-subheader id="user-details-heading" class="md-no-sticky">Customer Details</md-subheader>
    <md-content class="add-glf-wrap">
       <div class="newadd-form add-glf-form">
         <md-input-container class="md-icon-float md-block">
           <label class="item-detalis-lable">Customer Name</label>
           <md-icon><img src="assets/images/input-name.png"></md-icon>
           <input required type="text" name="enduser-name" ng-model="currentUser.endUser.name" md-no-asterisk/>
         </md-input-container>

          <md-input-container class="md-icon-float md-block" flex-xs>
           <label class="item-detalis-lable">Customer Contact Number</label>
           <md-icon><img src="assets/images/input-mobile.png"></md-icon>
           <input required type="number" name="enduser-contact-number" ng-model="currentUser.endUser.contactNo" md-no-asterisk/>
         </md-input-container>
       </div>
    </md-content>
  </div>

  <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-divider></md-divider>
    <md-button class="btn" type="button" ng-click="gotoOrderSummery(currentUser.itemDetail)" ng-disabled="(activeNext || currentUser.itemDetail.shortNote=='' || currentUser.endUser.contactNo == '' || currentUser.endUser.name == '')" >Next</md-button>
  </div>
</md-content>
