<div layout="column" layout-fill class="header-logo-wrap">
    <div class="header-logo">
       <img src="assets/images/logo.png" alt="Logo">
    </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="login-signup-wrap">
    <div class="login-signup-tabs">
        <md-tabs flex layout="column" md-dynamic-height md-stretch-tabs="always">
            <md-tab flex layout="column"> <span class="vender-style">Log In</span></md-tab>
            <md-tab flex layout="column" ui-sref="signup"><span class="vender-style">Register</span></md-tab>
        </md-tabs>
        <md-content class="dv-padding">
            <div class="newadd-form login-signup-form">
                <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>
                <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>
                <form name="Form" ng-submit="userLogin()" class="newadd-stores-form">
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon><img src="assets/images/form-email.png"></md-icon>
                        <input type="email" name="email" ng-model="user.email" required="" md-no-asterisk/>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon><img src="assets/images/form-password.png"></md-icon>
                        <input type="password" name="password" ng-model="user.password" required="" md-maxlength="16" md-no-asterisk/>
                    </md-input-container>
                    <div class="login-btn">
                        <md-button type="submit" ng-disabled="!Form.$valid" class="btn">Sign In</md-button>
                    </div>
                    <div class="login-botton-link">
                      <span class="login-link-text"><a class="link" ui-sref="signup">Create Account</a></span>
                      <span class="login-link-text"><a ui-sref="forgotPassword">Forget Password?</a></span>
                   </div>
                </form>
            </div>
        </md-content>
    </div>
</div>