<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
      <div class="header-title-wrap">
          <span class="heder-button-left"><md-button ui-sref="userOrders"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
          <div class="header-title">Order Details</div>
          <span class="heder-button-right" id="order-details-map-ic" ng-show="userOrders.order_status=='picked-up'&&loginUserDatas.user_role=='vendor'||loginUserDatas.user_role=='deliveryman'" ui-sref="trackOrder({id: userOrders.order_id})"><md-button ui-sref="userOrders"><i class="material-icons">local_shipping</i></md-button></span>
      </div>
  </div>
</div><!-- /.header-wrap -->
<div id="order-details" layout="column" layout-fill>
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <md-content class="store-list-wrap">
          <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
              <div class="msg-box-wrap">
                  <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                  {{ajaxResponseMessage}}</div>
              </div>
          </div>
          <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
              <div class="msg-box-wrap">
                  <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                  {{ajaxResponseMessage}}</div>
              </div>
          </div>

          <md-card md-theme="default'" md-theme-watch>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="order-unique-code" ng-if="(loginUserDatas.user_role=='deliveryman'&&userOrders.order_status=='awaiting-pickup')" ng-hide="true">
              <form class="newadd-stores-form" name="pickupCodeForm" ng-submit="checkPickupOrderUniqueCode(orderUniqueCode)">
              <span class="coupan-code-input">Pickup code</span>
              <md-input-container class="md-icon-float md-block" layout-align="center center" layout="row" ng-init="inputType='password'">
                <input type="{{inputType}}" ng-model="orderUniqueCode" required="" md-no-asterisk/>
                  <img class="coupen-eye cursor-pointer" src="assets/images/view.png" alt="edit icon" ng-show="userOrders.order_status=='picked-up'" ng-click="(inputType=='password') ? inputType='text' : inputType='password';">
                  <div ng-messages="pickupCodeForm.orderUniqueCode.$error" role="alert" class="form-errors">
                      <div ng-message="required">Unique code required</div>
                  </div>
                </md-input-container>
                <div class="login-signup-btn" ng-show="userOrders.order_status=='awaiting-pickup'">
                  <md-button type="submit" ng-disabled="!pickupCodeForm.$valid" class="btn btn-small" id="vendor-unique-submit">Submit</md-button>
                </div>
              </form>
            </section>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="order-unique-code" ng-if="(loginUserDatas.user_role=='deliveryman'&&userOrders.order_status=='awaiting-pickup')">
              <md-button  id="vendor-unique-submit" class="md-raised md-warn" ng-click="orderPickedup()">Pickup Order</md-button>
            </section>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="order-unique-code" ng-if="loginUserDatas.user_role=='deliveryman'&&(userOrders.order_status=='picked-up')">
              <md-button id="vendor-unique-submit" class="md-raised md-warn" ng-click="orderCompleteRequest()">Complete Order</md-button>
            </section>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="order-unique-code" ng-if="loginUserDatas.user_role=='deliveryman'&&(userOrders.order_status=='picked-up')" ng-hide="false">
              <form class="newadd-stores-form" name="Form" ng-submit="checkOrderDeliveryUniqueCode(orderDeliverUniqueCode)">
              <span class="coupan-code-input">Delivery code</span>
              <md-input-container class="md-icon-float md-block" layout-align="center center" layout="row" ng-init="inputType='password'">
                <input type="{{inputType}}" name="orderUniqueCode" ng-model="orderDeliverUniqueCode" required="" md-no-asterisk/>
                  <div ng-messages="Form.orderUniqueCode.$error" role="alert" class="form-errors">
                      <div ng-message="required">Unique code required</div>
                  </div>
                </md-input-container>
                <div class="login-signup-btn" ng-show="userOrders.order_status=='picked-up'">
                  <md-button type="submit" ng-disabled="!Form.$valid" class="btn btn-small" id="vendor-unique-submit">Submit and Complete order</md-button>
                </div>
              </form>
            </section>

            <md-card-title>
              <md-card-title-text>
                <md-subheader class="md-no-sticky">{{userOrders.order_title | capitalize}}</md-subheader>
                <div layout="row" layout-sm="column" layout-margin class="order-details">
                  <div flex>
                    <span class="store-list-des"><span class="order-data">Item Count:</span>{{userOrders.orderItems.length}}</span>
                    <span class="store-list-des"><span class="order-data">Order Date:</span> {{userOrders.order_date}}</span>
                    <span class="store-list-des"><span class="order-data">Status:</span> {{userOrders.order_status | capitalize}}</span>
                    <span class="store-list-des">
                      <span class="order-data">Order Note:</span>                      
                      <span ng-show="userOrders.order_note">{{userOrders.order_note | capitalize}}</span>
                      <span ng-hide="userOrders.order_note">N/A</span>
                    </span>
                    <span class="store-list-des" ng-hide="true">
                      <span class="order-data">Shipping Total:</span>                      
                      <span ng-show="userOrders.ship_total > 0">{{userOrders.ship_total | currency}}</span>
                      <span ng-hide="userOrders.ship_total">N/A</span>
                    </span>  
                    <span class="store-list-des">
                      <span class="order-data">Delivery Amount:</span>                      
                      <span ng-show="userOrders.deliveryman_amount > 0">{{userOrders.deliveryman_amount | currency}}</span>
                      <span ng-hide="userOrders.deliveryman_amount">N/A</span>
                    </span>                                            
                  </div>                
                </div>


                <md-subheader class="md-no-sticky">Pickup</md-subheader>
                <div layout="row" layout-sm="column" layout-margin class="pick-up-details">
                  <div flex>
                    <!-- <span class="store-list-des"><span clas="order-data">Pickup Code:</span> {{userOrders.pickup_address}}</span> -->
                    <span class="store-list-des"><span class="order-data">Pickup Address:</span><a ng-click="openInGoogleMap(userOrders.pickup_address)">{{userOrders.pickup_address}}</a></span>
                    <span class="store-list-des">
                      <span class="order-data">Pickup Time:</span> 
                      <span ng-show="userOrders.pickup_time">{{userOrders.pickup_time}}</span>
                      <span ng-hide="userOrders.pickup_time">Not At Pickup</span>
                    </span>
                  </div>
                </div>
                <md-subheader class="md-no-sticky">Delivery</md-subheader>
                <div layout="row" layout-sm="column" layout-margin class="delivery-details">
                  <div flex>
                    <span class="store-list-des"><span class="order-data">Delivery Address:</span><a ng-click="openInGoogleMap(userOrders.deliver_address)"> {{userOrders.deliver_address}}</a></span> 
                    <span class="store-list-des">
                      <span class="order-data">Delivery Date:</span> 
                        <span ng-show="userOrders.deliver_time">{{userOrders.deliver_time}}</span>
                        <span ng-hide="userOrders.deliver_time">Not At Deliver</span>
                    </span>
                    <span class="store-list-des">
                      <span class="order-data">Delivery Agent Name:</span> 
                        <span ng-show="userOrders.delivery_agent_name">{{userOrders.delivery_agent_name}}</span>
                        <span ng-hide="userOrders.delivery_agent_name">Not At Pickup</span>
                    </span>
                    <span class="store-list-des">
                      <span class="order-data">Delivery Agent Contact:</span> 
                        <span ng-show="userOrders.delivery_agent_number">{{userOrders.delivery_agent_number}}</span>
                        <span ng-hide="userOrders.delivery_agent_number">Not At Pickup</span>
                    </span>
                    <span class="store-list-des">
                      <span class="order-data">Delivery Customer Name:</span> 
                        <span ng-show="userOrders.end_user_name">{{userOrders.end_user_name | capitalize}}</span>
                        <span ng-hide="userOrders.end_user_contact_no">N/A</span>
                    </span>
                    <span class="store-list-des">
                      <span class="order-data">Delivery Customer Contact:</span> 
                        <span ng-show="userOrders.end_user_contact_no">{{userOrders.end_user_contact_no}}</span>
                        <span ng-hide="userOrders.end_user_contact_no">N/A</span>
                    </span>
                  </div>
                </div>

                <!-- <md-subheader class="md-no-sticky">Order Items</md-subheader>
                <div layout="row" layout-sm="column" layout-margin class="delivery-details">
                    <md-list-item class="md-3-line" ng-repeat="item in userOrders.orderItems" ng-click="null">
                      <div class="md-list-item-text" layout="column">
                        <span class="item-name store-list-des" ><b>Item name</b>: {{item.item_name | capitalize}}</span>
                        <span class="store-list-des"><b>Quantity</b>: {{ item.item_quantity }}</span>
                        <span class="store-list-des"><b>Type</b> {{ item.item_type }}</span>
                        <span class="store-list-des"><b>Value</b> {{ item.item_value }}</span>
                        <span class="store-list-des"><b>Weight</b> {{ item.item_weight }}</span>
                      </div>
                    </md-list-item>
                </div> -->
              </md-card-title-text>
              
            </md-card-title>
          </md-card>
        </md-content>
    </div>
</div>