<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Orders Requests</div>
            <span class="heder-button-right cursor-pointer"><md-icon ng-click="syncNewAwitingOrder()"><i class="material-icons" style="color: #fff;font-weight: 700;">autorenew</i></md-icon></span>
        </div>
  </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <div class="custom-msg-box errer-msg-box" ng-show="showError">
            <div class="msg-box-wrap">
                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                {{ajaxResponseMessage}}</div>
            </div>
        </div>
        <md-content class="store-list-wrap">
          <md-card md-theme="default'" md-theme-watch ng-show="awatingUserOrders" ng-repeat="order in awatingUserOrders | toArray | orderBy : '-id'" ng-if="order.delivery_type !='vendor' && order.c1distance < 5 && order.c2distance < 2 && count < 2 ">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-des"><strong>Distance in meter :</strong> {{c3distance}}</span>
                <span class="store-list-title">{{order.order_title | capitalize}}</span>
                <span class="store-list-des"><strong>Item:</strong> {{order.orderItems.length}}</span>
                <span class="store-list-des"><strong>Order :</strong> {{order.order_date}}</span>
                <span class="store-list-des"><strong>Status:</strong> {{order.order_status | capitalize}}</span>
                <span class="store-list-des"><strong>Pickup Location:</strong> {{order.pickup_address | capitalize}}</span>
                <span class="store-list-des"><strong>Delivery Location:</strong> {{order.deliver_address | capitalize}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="cursor-pointer" ng-click="acceptOrderByDeliveryBoy(order.order_id)"><img src="assets/images/complete.png" alt="edit icon"></div> 
                 
              </md-card-title-media>
            </md-card-title>
          </md-card>

          <md-card md-theme="default'" ng-hide="awatingUserOrders">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No order found</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
    </div>
</div>
