<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
  <div class="header dv-padding">
      <div class="header-title-wrap">
        <span class="heder-button-left"><md-button ui-sref="itemDetails"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
        <div class="header-title">Order Summary</div>
        <!-- <span class="heder-button-right"><md-button md-no-ink><i class="material-icons">keyboard_arrow_right</i></md-button></span> -->
      </div>
    </div>
</div><!-- /.header-wrap -->
<!-- Order Summery ajay -->
<md-content class="order-summary-wrap footer-padding"  style="min-height:{{documentHeight}}px;">
  <div class="map form-group" style="display:block;">
    <ng-map zoom="14" ng-click="logLatLng()" ng-disabled="true" style="max-height:170px;" data-tap-disabled="true">
      <directions
        draggable="false"
        panel="directions-panel"
        travel-mode="DRIVING"
        origin="{{currentUser.pickUplocation}}"
        destination="{{currentUser.droplocation}}">
      </directions>
    </ng-map>
  </div>
        <div class="custom-msg-box succes-msg-box" ng-show="showSuccess">
          <div class="msg-box-wrap">
              <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
              {{ ajaxResponseMessage}}</div>
          </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError">
          <div class="msg-box-wrap">
              <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
              {{ ajaxResponseMessage}}</div>
          </div>
      </div>
  <div class="order-summary-duration clr">
    <div class="os-column" layout-fill layout-align="center center">
      <div class="os-hed-title">Estimated Time</div>
      <div class="loading-wrapper" ng-hide="mapResponse.rows[0].elements[0].duration.text||mapResponse.rows[0].elements[0].status=='ZERO_RESULTS'"><md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40" style="margin:auto;" ng-hide="totalDistance"></md-progress-circular></div>
      <div class="os-hed-subtitle" ng-show="mapResponse.rows[0].elements[0].duration.text">{{mapResponse.rows[0].elements[0].duration.text}}</div>
      <div class="loading-wrapper" ng-show="mapResponse.rows[0].elements[0].status=='ZERO_RESULTS'">
        <div style="margin:auto;text-align:center;" ><span class="no-found-text">No data found</span></div>
      </div>
    </div>
    <div class="os-column" layout-fill layout-align="center center">
      <div class="os-hed-title">Total Distance</div>
      <div class="loading-wrapper"><md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40" style="margin:auto;" ng-hide="totalDistance"></md-progress-circular></div>
      <div class="os-hed-subtitle" ng-show="totalDistance">{{totalDistance | number : 2}}KM</div>
    </div>
  </div>
  <div class="os-staps-wrap">
    <div class="os-staps-img">
      <img src="assets/images/os-staps-icon.png" alt="order summary icon">
    </div>
    <div class="os-staps">
      <div class="os-staps-icon">
        <img src="assets/images/pickup-location.png" alt="order summary icon">
      </div>
      <div class="os-staps-mtr">
        <div class="os-staps-title">Pickup Location</div>
        <div class="os-staps-des">
          {{currentUser.pickUplocation}}
        </div>
      </div>
    </div>
    <div class="os-staps">
      <div class="os-staps-icon">
        <img src="assets/images/total-items.png" alt="order summary icon">
      </div>
      <div class="os-staps-mtr">
        <div class="os-staps-title">Total items
          <span class="os-staps-total">{{currentUser.itemDetail | objLength}}</span>
        </div>
      </div>
    </div>
    <div class="os-staps">
      <div class="os-staps-icon">
        <img src="assets/images/drop-location.png" alt="order summary icon">
      </div>
      <div class="os-staps-mtr">
        <div class="os-staps-title">Drop Location</div>
        <div class="os-staps-des">{{currentUser.droplocation}}</div>
      </div>
    </div>
    <md-divider></md-divider>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="btn dropl-btn-wrap" ng-click=confirmVendorOrder()>Confirm Order</md-button>
    </section>
  </div>
</md-content>