<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
  <div class="header dv-padding">
      <div class="header-title-wrap">
        <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
        <div class="header-title">Pickup Location</div>
        <!-- <span class="heder-button-right" ng-show="currentUser.pickUplocation !==''&&currentUser.pickUplocation"><md-button ui-sref="dropLocation"><i class="material-icons">keyboard_arrow_right</i></md-button></span> -->
      </div>
    </div>
</div><!-- /.header-wrap -->

<md-content style="min-height:{{documentHeight}}px;">
  <div class="dv-tabs-wrap pl-tabs-wrap">
    <md-tabs flex layout="column" md-dynamic-height md-stretch-tabs="always" class="pickup-tab-wrap">
      <md-tab label="Custom" ng-init="selectedUser.address='customAddress'" md-on-select="changePickupAddress(selectedUser, 'customAddress')">
        <div class="dv-padding">
          <md-input-container class="md-icon-float md-block">
            <input type="text" aria-label="Pickup Location" ng-model="currentUser.pickUplocation" id="pac-input" details="details" ng-init="details=''" options="options" ng-autocomplete ng-change="pickupAddressChange()"/>
          </md-input-container>
          <div class="map" style="display: none;">
            <ng-map zoom="14"></ng-map>
          </div>
        </div>
      </md-tab>

      <md-tab label="Base Address" md-on-select="changePickupAddress(selectedUser, 'baseAddress')">
        <!-- #base address content -->
        <md-content class="store-list-wrap">
          <!-- When base address not available -->
          <md-card md-theme="default" ng-show="userProfileData.address_1&&userProfileData.city&&userProfileData.state">
            <md-card-title>
              <md-card-title-text>
                <span class="base-location-title">Address 1</span>
                <span class="store-list-des">
                  <span ng-show="userProfileData.address_1">{{userProfileData.address_1}}</span>
                  <span ng-show="userProfileData.address_2">{{userProfileData.address_2}}</span><br/>
                  <span ng-show="userProfileData.city">{{userProfileData.city}}, </span>
                  <span ng-show="userProfileData.state">{{userProfileData.state}}</span><br/>
                  <span ng-show="userProfileData.zip">{{userProfileData.zip}}</span>
                  <span ng-show="userProfileData.country">{{userProfileData.country}}</span>
                </span>
                <!-- <span class="base-location-des" ng-bind-html="getFormattedAddress(userProfileData.address_1, userProfileData.city, userProfileData.state, userProfileData.country, userProfileData.zip, userProfileData.company) | unsafe"></span>-->
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/edit-icon.png" alt="edit icon" ui-sref="updateAddress"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>

          <md-card  class="newadd-btn-wrap" ng-hide="userProfileData.address_1&&userProfileData.city&&userProfileData.state">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No address found</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/adding.png" alt="edit icon" ui-sref="updateAddress"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </md-content>
      </md-tab>

      <md-tab label="Store" md-on-select="changePickupAddress(selectedUser, 'storeAddress')">
        <md-content class="store-list-wrap">
          <!-- #Showing Stores -->
            <md-card ng-repeat="store in userStores" md-theme="default" ng-show="userStores">
              <md-card-title>
                <div class="store-loc-icon">
                    <md-radio-group layout-align="start" ng-init="$index==0?(selectedUser.stores=store.id):''" ng-model="selectedUser.stores" ng-change="changePickupStore(store)">
                      <md-radio-button value="{{store.id}}">
                        <div class="str-velue-wrap">
                          <span class="base-location-title">{{store.store_name}}</span>
                          <span class="store-list-des">
                            <span ng-show="store.address_1">{{store.address_1}}</span>
                            <span ng-show="store.address_2">{{store.address_2}}</span><br/>
                            <span ng-show="store.city">{{store.city}}, </span>
                            <span ng-show="store.state">{{store.state}}</span><br/>
                            <span ng-show="store.zip">{{store.zip}}</span>
                            <span ng-show="store.country">{{store.country}}</span>
                          </span>
                          <!--<span class="base-location-des" ng-bind-html="getFormattedAddress(store.address_1, store.city, store.state, store.country, store.zip) | unsafe"></span>-->
                        </div>
                      </md-radio-button>
                    </md-radio-group>
                </div>
              </md-card-title>
            </md-card>

            <md-card  class="newadd-btn-wrap" ng-show="!userStores">
              <md-card-title>
                <md-card-title-text>
                  <span class="no-found-text">No stores found</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="card-media"><img src="assets/images/adding.png" alt="edit icon" ui-sref="userStore"></div>
                </md-card-title-media>
              </md-card-title>
            </md-card>
        </md-content>
      </md-tab>

    </md-tabs>

   	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="base-location-wrap">
    	<md-button ng-click="goTodroploc()" class="btn dropl-btn-wrap" ng-disabled="currentUser.pickUplocation=='' || !currentUser.pickUplocation">Next</md-button>
  	</section>
  </div>
</md-content>