<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
	<div class="header dv-padding">
	  	<div class="header-title-wrap">
	  		<span class="heder-button-left"><md-button ui-sref="adminTransactions"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
	  		<div class="header-title">Delivery Man Transaction</div>
	  	</div>
    </div>
</div><!-- /.header-wrap -->
<md-content class="merchant-transactions-wrap footer-padding">
	<div style="min-height:{{documentHeight}}px;">
	    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
	        <md-card-title class="merchant-transactions-heading">
	          <md-card-title-text>
	            <span class="md-headline">Delivery Transactions</span>
	            <span class="md-subhead">Delivery credit and debit amount transactions</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content layout-align="space-between" class="merchant-transactions-details" ng-show="releaseAmountData">
				<div layout="row" layout-wrap class="mt-tra-details-row">
				  <div flex="60">
				  	<div class="mt-released-amount">
				  		Total Released Amount :
				  	</div>
				  </div>
				  <div flex="40">
				  	<div class="mt-earned-amount-vel" ng-show="releaseAmountData.released_amount">
				  		{{releaseAmountData.released_amount | currency}}
				  	</div>
				  	<div class="mt-earned-amount-vel" ng-hide="releaseAmountData.released_amount">
				  		$0
				  	</div>
				  </div>
				</div>
				<div layout="row" layout-wrap class="mt-tra-details-row">
				  <div flex="60">
				  	<div class="mt-release-amount">
				  		Remainig Release Amount :	
				  	</div>
				  </div>
				  <div flex="40">
				  	<div class="mt-earned-amount-vel" ng-show="releaseAmountData.released_amount">
				  		{{releaseAmountData.release_remainig | currency}}
				  	</div>
				  	<div class="mt-earned-amount-vel" ng-hide="releaseAmountData.released_amount">
				  		$0
				  	</div>			  	
				  </div>
				</div>
				<div class="mt-amount-request-btn">
			    	<md-button class="btn" ng-click="requestReleaseAmount($event, releaseAmountData.release_remainig)">Release Amount</md-button>
			    </div>
	        </md-card-content>
		</md-card>
		<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
	        <md-card-content layout-align="space-between" ng-show="deliveryBoyOrderData">
	        	<div layout="row" layout-wrap class="mt-transactions-head">
					<div flex="25" class="mt-thed-amount">
						<div class="mt-thed-title">Amount</div>
					</div>
					<div flex="40" class="mt-thed-description">
						<div class="mt-thed-title">Description</div>
					</div>
					<div flex="35" class="mt-thed-date">
						<div class="mt-thed-title">Date</div>
					</div>
				</div>

		        <div class="mt-transactions-details-section">
			        <div class="mt-transactions-details-wrap">
			        	<div layout="row" layout-wrap class="mt-transactions-details" ng-repeat="order in deliveryBoyOrderData | toArray | orderBy : '-id'">
							<div flex="25" class="mt-tdetails-amount">
								<div class="mt-tdetails-des">{{order.deliveryman_amount | currency}}</div>
							</div>
							<div flex="40" class="mt-tdetails-description">
								<div class="mt-tdetails-des">For {{order.order_title | capitalize}}</div>
							</div>
							<div flex="35" class="mt-tdetails-date">
								<div class="mt-tdetails-des date">{{order.deliver_time}}</div>
								<!-- <div class="mt-tdetails-des time">23:59:21</div> -->
							</div>
						</div><!-- /.mt-transactions-details -->
			        </div>
		        	<div ng-app="DemoApp" flex layout="column" class="mt-pagination-wrap">
					  <div flex layout="column">
					    <section layout="row" layout-padding="">
					      <cl-paging flex cl-pages="100" , cl-steps="6" , cl-page-changed="onPageChanged()" , cl-align="center center" , cl-current-page="1"></cl-paging>
					    </section>
					  </div>
					</div><!-- /.mt-pagination-wrap -->
				</div><!-- /.mt-transactions-details-section -->
	        </md-card-content>
	        <md-card-content layout-align="space-between" ng-hide="deliveryBoyOrderData">
				No data found!        
	        </md-card-content>
		</md-card>
	</div>
</md-content>