<div  layout="column" layout-fill class="header-wrap blue-pinck-bg">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="login"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Registration</div>
        </div>
  </div>
</div><!-- /.header-wrap -->
<div id="registration-page" layout="column" layout-fill class="login-signup-wrap">
    <div class="login-signup-tabs">
        <md-content class="vender main-panel panel-no-background">
         <md-tabs flex layout="column" md-stretch-tabs="always">
            <md-tab flex layout="column" ng-click="user.requestFor='vendor'"><span class="vender-style">VENDOR</span></md-tab>
            <md-tab flex layout="column" ng-click="user.requestFor='deliveryman'"><span class="vender-style">DELIVERY MAN</span></md-tab>
         </md-tabs>
        </md-content>
        <md-content class="dv-padding">
            <div class="newadd-form login-signup-form">
                <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>
                <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
                    <div class="msg-box-wrap">
                        <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                        {{ ajaxResponseMessage }}</div>
                    </div>
                </div>
                <form  class="newadd-stores-form" name="Form" ng-submit="userRegister()"> <!-- uploadPic(user.picFile) ng-submit="userRegister()" -->
                    <input type="hidden" name="requestFor" ng-init="user.requestFor='vendor'" ng-model="user.requestFor" md-no-asterisk/>
                    <md-input-container class="md-icon-float md-block">
                        <label>First Name</label>
                        <md-icon><img src="assets/images/form-name.png"></md-icon>
                        <input type="text" name="fname" ng-model="user.fname" required="" pattern="[a-zA-Z][a-zA-Z ]+" md-no-asterisk/>
                        <div ng-messages="Form.fname.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">First Name is required!</div>
                            <div ng-message="pattern">Only alphabets allowed!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Last Name</label>
                        <md-icon><img src="assets/images/form-name.png"></md-icon>
                        <input type="text" name="lname" ng-model="user.lname" required="" pattern="[a-zA-Z][a-zA-Z ]+" md-no-asterisk/>
                        <div ng-messages="Form.lname.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Last Name is required!</div>
                            <div ng-message="pattern">Only alphabets allowed!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon><img src="assets/images/form-email.png"></md-icon>
                        <input type="email" name="email" ng-model="user.email" required="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" md-no-asterisk/>
                        <div ng-messages="Form.email.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Email is required!</div>
                            <div ng-message="pattern">Please Correct Your Email ID!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon><img src="assets/images/form-password.png"></md-icon>
                        <input type="password" name="password" ng-model="user.password" required="" pattern="^[A-Za-z0-9!@#$%^&*()_]{6,20}$" md-minlength="6" md-maxlength="20" md-no-asterisk/>
                        <div ng-messages="Form.password.$error" role="alert"  class="form-errors first-name-error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="pattern">Password Must be 6 digit.</div>
                            <div ng-message="minlength">Password is too small</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Confirm Password</label>
                        <md-icon><img src="assets/images/form-password.png"></md-icon>
                        <input type="password" name="rePassword" ng-model="user.rePassword" required="" compare-to="user.password" md-minlength="6" md-maxlength="20" pattern="^[A-Za-z0-9!@#$%^&*()_]{6,20}$" md-no-asterisk/>
                        <div ng-messages="Form.rePassword.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="pattern">Password Must be 6 digit.</div>
                            <div ng-message="compareTo">Password not matched</div>
                            <div ng-message="minlength">Password is too small</div>
                        </div>
                    </md-input-container>
                    <!--  -->
                    <div layout="row" class="number-code-group">
                        <md-input-container>
                            <!-- <label>Mobile Number</label> -->
                            <md-icon><img src="assets/images/form-mobile.png"></md-icon>
                            <md-select ng-model="user.dialingNumber">
                               <md-option value="+91" selected>+91</md-option>
                                <md-option value="+61">+61</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container id="signup-mobile-no" class="md-icon-float md-block">
                            <label>Mobile Number</label>
                            <!-- <md-icon><img src="assets/images/form-mobile.png"></md-icon> -->
                            <input type="text" name="phone" ng-model="user.phone" required="" pattern="^(0|[0-9][0-9]*)$" md-maxlength="13" md-minlength="10" md-no-asterisk/>
                            <div ng-messages="Form.phone.$error" role="alert" class="form-errors first-name-error">
                                <div ng-message="required">Mobile Number is required!</div>
                                <div ng-message="pattern">Mobile Number should be only numbers!</div>
                                <div ng-message="minlength">Mobile Number should have minimum 10 numbers!</div>
                            </div>
                            <div ng-messages="Form.dialingNumber.$error" role="alert" class="form-errors first-name-error">
                                <div ng-message="required">Dialing Number is required!</div>
                                <div ng-message="pattern">Dialing Number Number should be only numbers!</div>                            <div ng-message="minlength">Mobile Number should have minimum 10 numbers!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--  -->                
                    <md-radio-group ng-model="user.gender" class="radio" ng-init="user.gender='male'" ng-hide="true">
                        <md-radio-button value="male"> Male </md-radio-button>
                        <md-radio-button value="female">Female</md-radio-button>
                    </md-radio-group>


                    <!-- fields for delivery man only -->                
                    <md-radio-group ng-model="user.dateofbirth" class="radio" ng-init="user.gender='male'" ng-hide="true">
                        <md-radio-button value="male"> Male </md-radio-button>
                        <md-radio-button value="female">Female</md-radio-button>
                    </md-radio-group>

                    <md-input-container class="md-icon-float md-block" ng-if="user.requestFor!='vendor'">
                        <label>Date of Birth</label>
                        <md-datepicker name="dateofbirth" ng-model="user.dateofbirth" required="" md-no-asterisk md-open-on-focus="" ng-change="" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                        <div ng-messages="Form.dateofbirth.$error" role="alert" class="form-errors first-name-error">
                            <div ng-message="required">Date of birth is required!</div>
                            <div ng-message="maxdate">Minimum Age should be 16 years</div>
                        </div>
                    </md-input-container>
                    
                    
                    <!-- New Availability Time -->
                    <div ng-class="" ng-if="user.requestFor=='deliveryman'">
                        <label>Select Availability</label>
                        <tags-input ng-model="tags" ng-click="loadTimePickerPopup()" display-property="display"></tags-input>
                    </div>
                    <!-- New Availability Time -->

                    <!-- Transport Mode -->
                    <!-- <md-input-container class="md-icon-float md-block time-availability" flex-xs ng-if="user.requestFor=='deliveryman'">
                        <label class="item-detalis-lable">FROM</label>
                        <md-time-picker ng-model="user.time_avalibility_from" message="message"></md-time-picker>
                    </md-input-container> -->

                    <!-- Transport Mode -->
                    <!-- <md-input-container class="md-icon-float md-block time-availability" flex-xs ng-if="user.requestFor=='deliveryman'">
                        <label class="item-detalis-lable">To</label>
                        <md-time-picker ng-model="user.time_avalibility_to" message="message"></md-time-picker>
                    </md-input-container> -->

                    <!-- <div ng-class="{'has-error' : Form.multipleSelect.$invalid && Form.multipleSelect.$dirty, 'has-success' : !Form.multipleSelect.$invalid && Form.multipleSelect.$dirty}" ng-show="user.requestFor=='deliveryman'">
                        <label>State</label>
                        <multiple-autocomplete ng-model="stateAvailability"
                            object-property="name"
                            suggestions-arr="optionsList" required="true">
                       </multiple-autocomplete>
                        <span ng-show="Form.multipleSelect.$invalid && Form.multipleSelect.$dirty" class="ng-hide">
                            <p class="error-msg" ng-show="Form.multipleSelect.$error.required">Please select something from multiple select field</p>
                        </span>
                    </div> -->

                    
                    
                    <!-- Address 1 -->
                    <md-input-container class="md-icon-float md-block" ng-if="user.requestFor=='deliveryman'">
                        <label>Address 1</label>
                        <md-icon><img src="assets/images/input-address.png"></md-icon>
                        <input type="text" name="company" ng-model="user.address_1" md-no-asterisk/>
                        <div ng-messages="user.address_1.$error" role="alert">
                            <div ng-message="">Address 1 number is .</div>
                        </div>
                    </md-input-container>

                    <!-- Address 2 -->
                    <md-input-container class="md-icon-float md-block" ng-if="user.requestFor=='deliveryman'">
                        <label>Adress 2</label>
                        <md-icon><img src="assets/images/input-address.png"></md-icon>
                        <input type="text" name="address_2" ng-model="user.address_2" md-no-asterisk/>
                        <div ng-messages="user.address_2.$error" role="alert">
                            <div ng-message="">user address2 is .</div>
                        </div>
                    </md-input-container>

                    

                    <!-- State -->
                    <!-- <md-input-container class="md-icon-float md-block" flex-xs ng-show="user.requestFor=='deliveryman'">
                       <md-icon><img src="assets/images/input-state.png"></md-icon>
                        <label class="item-detalis-lable">State</label>
                        <md-select ng-model="user.state">
                            <md-option value="New South Wales">New South Wales</md-option>
                            <md-option value="Western Australia">Western Australia</md-option>
                            <md-option value="Victoria">Victoria</md-option>
                            <md-option value="Queensland">Queensland</md-option>
                            <md-option value="Tasmania">Tasmania</md-option>
                            <md-option value="South Australia">South Australia</md-option>
                            <md-option value="Northern Territory">Northern Territory</md-option>
                            <md-option value="Australian Capital Territory">Australian Capital Territory</md-option>
                            <md-option value="Christmas Island">Christmas Island</md-option>
                            <md-option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</md-option>
                            <md-option value="Jervis Bay Territory">Jervis Bay Territory</md-option>
                            <md-option value="Norfolk Island">Norfolk Island</md-option>
                        </md-select>
                     </md-input-container> -->

                    <!-- State -->
                    <md-input-container class="md-icon-float md-block" flex-xs ng-if="user.requestFor=='deliveryman'">
                       <md-icon><img src="assets/images/input-state.png"></md-icon>
                        <label class="item-detalis-lable">State</label>
                        <md-select ng-model="user.state" ng-change="getCities()" required>
                            <md-option ng-repeat="state in statesData" value="{{state.state_code}}">{{state.state}}</md-option>
                        </md-select>
                     </md-input-container>

                     <!-- City -->
                    <md-input-container class="md-icon-float md-block" ng-if="user.requestFor=='deliveryman'">
                        <label class="item-detalis-lable">City</label>
                        <md-select ng-model="user.city" >
                            <md-option ng-repeat="city in cityData" value="{{city}}">{{city}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-class="{'has-error' : Form.multipleSelect.$invalid && Form.multipleSelect.$dirty, 'has-success' : !Form.multipleSelect.$invalid && Form.multipleSelect.$dirty}" ng-if="user.requestFor=='deliveryman'">
                        <label>Suburbs</label>
                        <multiple-autocomplete ng-model="user.suburbs"
                            object-property="name"
                            suggestions-arr="suburbsData" required="true">
                       </multiple-autocomplete>
                        <span ng-show="Form.multipleSelect.$invalid && Form.multipleSelect.$dirty" class="ng-hide">
                            <p class="error-msg" ng-show="Form.multipleSelect.$error.required">Please select something from multiple select field</p>
                        </span>
                    </div>

                    <!-- Zip Code -->
                    <md-input-container class="md-icon-float md-block" ng-if="user.requestFor=='deliveryman'">
                    <label>Zipcode</label>
                    <md-icon><img src="assets/images/input-zip.png"></md-icon>
                    <input type="text" name="zip" ng-model="user.zip" md-no-asterisk minlength="4" maxlength="4" required="true" pattern="^([0-9]*)$" />
                    <div ng-messages="Form.zip.$error" role="alert">
                        <div ng-message="required">Zipcode is required</div>
                        <div ng-message="minlength">Invalid Zipcode</div>
                        <div ng-message="maxlength">Invalid Zipcode</div>
                        <div ng-message="pattern">Invalid Zipcode</div>
                    </div>
                    </md-input-container>

                    <!-- Country -->
                    <md-input-container class="md-icon-float md-block" flex-xs ng-if="if.requestFor=='deliveryman'">
                       <md-icon><img src="assets/images/input-countruy.png"></md-icon>
                        <label class="item-detalis-lable">Country</label>
                        <md-select ng-model="user.country" id="item-type" required>
                           <md-option value="Australia" selected>Australia</md-option>
                        </md-select>
                    </md-input-container>
                    
                    <!-- Transport Mode -->
                    <md-input-container class="md-icon-float md-block" flex-xs ng-if="user.requestFor=='deliveryman'">
                       <md-icon><img src="assets/images/input-state.png"></md-icon>
                        <label class="item-detalis-lable">Transport Mode</label>
                        <!-- <md-select ng-model="user.transport_mode" ng-init="(user.transport_mode=='') ? user.transport_mode='Bike' : null;">
                            <md-option value="Bicycle">Bicycle</md-option>
                            <md-option value="Bike">Bike</md-option>
                            <md-option value="Mini Van">Mini Van</md-option>
                            <md-option value="Truck">Truck</md-option>
                        </md-select> -->

                        <md-select ng-model="user.transport_mode" ng-init="(user.transport_mode=='') ? user.transport_mode='Bike' : null;">
                            <md-option ng-repeat="tm in tmData" value="{{tm.name}}">{{tm.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <!-- Delivery Mode -->                
                    <md-radio-group ng-model="user.delivery_mode" class="radio" ng-if="user.requestFor=='deliveryman'">
                        <md-icon class="material-icons" aria-hidden="true"><img src="assets/images/input-state.png"></md-icon>
                        <md-radio-button value="dialadelivery">Dialadelivery</md-radio-button>
                        <md-radio-button value="inhouse"> In-house </md-radio-button>
                    </md-radio-group>

                    <md-input-container class="md-icon-float md-block"  ><!--ng-if="user.requestFor=='deliveryman'"--->
                        <label>upload Image</label>
                        <md-icon><img src="assets/images/form-email.png"></md-icon>
                        <input type="file" required nv-file-select="" uploader="uploader"/>
                        <!-- <input type="file" ngf-select ng-model="user.picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile"/>     -->

                        <i ng-show="Form.file.$error.required">*required</i><br>
                        <i ng-show="Form.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <div ng-repeat="item in uploader.queue">
                            <div ng-thumb="{ file: item._file, height: 100 }"></div>
                            <button ng-click="item.remove()">Remove</button>
                        </div>
                    </md-input-container>
                    
                    <!-- ng-show="uploader.isHTML5" <img ng-src="uploader.file"/> -->

                    <div class="login-signup-btn">
                        <md-button type="submit" ng-disabled="!Form.$valid" class="btn">&nbsp; Sign Up &nbsp;</md-button>
                    </div>
                    <!-- <md-button type="button" class="btn" ng-click="uploader.uploadAll()">&nbsp; Upload Image &nbsp;</md-button> -->
                </form>


            </div>
        </md-content>
    </div>
</div>