<md-content md-theme="docs-dark" style="background:transparent;">
  <center><div id="container" align="center" style="padding: 100px 0px;">
    <i class="material-icons" style="font-size: 5em; color: rgb(255, 255, 255);">thumb_up</i>
      <h1 id="contacting-text-1" class="contacting-text" style="color: rgb(255, 255, 255);">Thankyou!</h1>
      <br />
      <p style="padding: 5px 20px; color: rgb(255, 255, 255);">We received your order and shared with delivery guys. Will inform you once they accept it.</p>
      <md-button class="btn dropl-btn-wrap md-button md-mini" aria-label="Eat cake" ui-sref="userOrders" style="width:150px;">
          <md-icon><i class="material-icons">&#xE8CC;</i></md-icon> My Order
      </md-button>
    </div>  
  </center>
</md-content>