<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="userOrders"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">Track Order</div>
        </div>
    </div>
</div>
<!-- /.header-wrap -->
<div id="order-details" layout="column" layout-fill>
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <md-content class="store-list-wrap">
          <div class="custom-msg-box succes-msg-box" ng-show="showSuccess"> 
              <div class="msg-box-wrap">
                  <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>
                  {{ajaxResponseMessage}}</div>
              </div>
          </div>
          <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
              <div class="msg-box-wrap">
                  <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
                  {{ajaxResponseMessage}}</div>
              </div>
          </div>

          <md-card md-theme="default'" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <!-- Pickup Address -->
                <md-subheader class="md-no-sticky">Pickup</md-subheader>              
                <div layout="row" layout-sm="column" layout-margin class="pick-up-details">
                  <div flex>
                    <span class="store-list-des"><span class="order-data">Pickup Address:</span><a ng-click="openInGoogleMap(userOrders.pickup_address)">{{trackOrderData.pickup_address}}</a></span>
                  </div>
                </div>

                <!-- Delivery Address -->
                <md-subheader class="md-no-sticky">Delivery</md-subheader>              
                <div layout="row" layout-sm="column" layout-margin class="pick-up-details">
                  <div flex>
                    <span class="store-list-des"><span class="order-data">Delivery Address:</span><a ng-click="openInGoogleMap(userOrders.pickup_address)">{{trackOrderData.deliver_address}}</a></span>
                  </div>
                </div>

                <md-subheader class="md-no-sticky">Your location<span id="show-your-position" ng-click="showYourPosition()" >Show your positon</span></md-subheader>
                <div layout="row" layout-sm="column" layout-margin class="order-details">
                  <div flex>
                    <ng-map zoom="16">
                      <directions draggable="false" panel="directions-panel" travel-mode="DRIVING" origin="{{trackOrderData.pickup_address}}" destination="{{trackOrderData.deliver_address}}">
                      </directions>
                    </ng-map>                                            
                  </div>                
                </div>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
    </div>
</div>