<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg">
  <div class="header dv-padding">
      <div class="header-title-wrap">
        <span class="heder-button-left cursor-pointer"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
        <div class="header-title">Dashboard</div>
        <!-- <span class="heder-button-right"><md-button md-no-ink><i class="material-icons">keyboard_arrow_right</i></md-button></span> -->
      </div>
  </div>
</div><!-- /.header-wrap -->

<div layout="column" layout-fill class="des-addnew-wrap footer-padding">
  <div class="dv-tabs-wrap store-address-wrap">
    <md-tabs flex md-dynamic-height md-stretch-tabs="always">
      <md-tab flex layout="column" label="Address">
        <!-- <md-content> -->
        <md-content class="store-list-wrap" style="min-height:{{documentHeight}}px;">
          <md-card md-theme="default'" md-theme-watch ng-hide="checkUndefined(userMeta.address_1)&&checkUndefined(userMeta.city)&&checkUndefined(userMeta.state)">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-des">
                  <span ng-show="userMeta.address_1">{{userMeta.address_1}}</span>
                  <span ng-show="userMeta.address_2">{{userMeta.address_2}}</span><br/>
                  <span ng-show="userMeta.city">{{userMeta.city}}, </span>
                  <span ng-show="userMeta.state">{{userMeta.state}}</span><br/>
                  <span ng-show="userMeta.zip">{{userMeta.zip}}</span>
                  <span ng-show="userMeta.country">{{userMeta.country}}</span>
                </span>
                <!-- <span class="store-list-des" ng-bind-html="getFormattedAddress(userMeta.address_1, userMeta.address_2, userMeta.city, userMeta.state, userMeta.country, userMeta.zip, userMeta.contact_no) | unsafe"></span> -->
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/edit-icon.png" alt="edit icon" ui-sref="updateAddress"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>

          <md-card md-theme="default'" md-theme-watch ng-show="checkUndefined(userMeta.address_1)&&checkUndefined(userMeta.city)&&checkUndefined(userMeta.state)">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No address found</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/edit-icon.png" alt="edit icon" ui-sref="updateAddress"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </md-content>
      </md-tab>

      <!-- #View User Address -->
      <md-tab flex layout="column" label="Stores">
        <!-- #No store found -->
        <md-content class="store-list-wrap" style="min-height:{{documentHeight}}px;" ng-show="!userStores && !showStoreForm">
          <md-card md-theme="default'" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No stores found</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/edit-icon.png" alt="edit icon" ng-click="addStore();" style="cursor:pointer;"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </md-content>

        <!-- #store listing -->
        <md-content class="store-list-wrap" style="min-height:{{documentHeight}}px;" ng-show="userStores && !showStoreForm">
          <md-card md-theme="default'" md-theme-watch ng-show="userStores && !showStoreForm" ng-repeat="store in userStores">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-title">{{store.store_name}}</span>
                <span class="store-list-des">
                  <span ng-show="store.address_1">{{store.address_1}}</span>
                  <span ng-show="store.address_2">{{store.address_2}}</span><br/>
                  <span ng-show="store.city">{{store.city}}, </span>
                  <span ng-show="store.state">{{store.state}}</span><br/>
                  <span ng-show="store.zip">{{store.zip}}</span>
                  <span ng-show="store.country">{{store.country}}</span>
                </span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media"><img src="assets/images/edit-icon.png" alt="edit icon" ng-click="editUserStoreData(store)"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>

          <div class="gil-btn-wrap" ng-show="userStores && !showStoreForm">
            <md-button class="btn small" type="button" ng-click="addStore()" ng-disabled="activeNext">Add More</md-button>
          </div>
        </md-content>

        <!-- Add/Edit stores -->
        <md-content class="dv-padding" ng-show="showStoreForm" style="min-height:{{documentHeight}}px;">
          <div class="newadd-form newadd-stores-wrap">
            <form name="storeForm" class="newadd-stores-form" ng-submit="addStoreData();">
                <md-input-container class="md-icon-float md-block">
                  <md-icon><img src="assets/images/input-name.png"></md-icon>
                  <input md-maxlength="30" required md-no-asterisk name="Store Name" ng-model="store.store_name" placeholder="Store Name" md-no-asterisk>
                 <div ng-messages="storeForm.store_name.$error">
                    <div ng-message="required">Store name is required.</div>
                    <div ng-message="md-maxlength">The store name must be less than 30 characters long.</div>
                 </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Adress1</label>
                  <md-icon><img src="assets/images/input-address.png"></md-icon>
                  <input required type="text" name="address_1" ng-model="store.address_1" md-no-asterisk/>
                  <div ng-messages="storeForm.address_1.$error" role="alert">
                    <div ng-message="required">Store address1 is required.</div>
                    <div ng-message="md-maxlength">The address1 must be less than 30 characters long.</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Adress2</label>
                  <md-icon><img src="assets/images/input-address.png"></md-icon>
                  <input type="text" name="address_2" ng-model="store.address_2" md-no-asterisk/>
                   <div ng-messages="storeForm.address_2.$error" role="alert">
                      <div ng-message="required">Store address2 is required.</div>
                      <div ng-message="md-maxlength">The address2 must be less than 30 characters long.</div>
                   </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>City</label>
                  <md-icon><img src="assets/images/input-city.png"></md-icon>
                  <input required type="text" name="address1" ng-model="store.city" md-no-asterisk/>
                  <div ng-messages="storeForm.city.$error" role="alert">
                    <div ng-message="required">Store city is required.</div>
                    <div ng-message="md-maxlength">The city must be less than 30 characters long.</div>
                  </div>
                </md-input-container>

                <!-- State -->
                <md-input-container class="md-icon-float md-block" flex-xs>
                       <md-icon><img src="assets/images/input-state.png"></md-icon>
                        <label class="item-detalis-lable">State</label>
                        <md-select ng-model="store.state">
                  <md-option value="New South Wales" selected>New South Wales</md-option>
                  <md-option value="Queensland">Queensland</md-option>
                  <md-option value="South Australia">South Australia</md-option>
                  <md-option value="Tasmania">Tasmania</md-option>
                  <md-option value="Victoria">Victoria</md-option>
                  <md-option value="Western Australia">Western Australia</md-option>
                        </md-select>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Zipcode</label>
                  <md-icon><img src="assets/images/input-zip.png"></md-icon>
                  <input required type="text" name="address1" ng-model="store.zip" md-no-asterisk/>
                  <div ng-messages="storeForm.zip.$error" role="alert">
                    <div ng-message="required">Store zip is required.</div>
                    <div ng-message="md-maxlength">The zip must be less than 30 characters long.</div>
                  </div>
                </md-input-container>



                <!-- Country -->
                <md-input-container class="md-icon-float md-block" flex-xs>
                 <md-icon><img src="assets/images/input-countruy.png"></md-icon>
                  <label class="item-detalis-lable">Country</label>
                  <md-select ng-model="store.country" id="item-type">
                     <md-option value="Australia" selected>Australia</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Phone Number</label>
                  <md-icon><img src="assets/images/input-mobile.png"></md-icon>
                  <input type="text" name="phone" ng-model="store.store_contact" pattern="^(0|[1-9][0-9]*)$" md-maxlength="13" md-minlength="10" md-no-asterisk/>
                  <div ng-messages="storeForm.store_contact.$error" role="alert">
                    <div ng-message="required">Store phone is required.</div>
                    <div ng-message="pattern">Mobile Number should be only numbers!</div>
                    <div ng-message="minlength">Mobile Number should have minimum 10 numbers!</div>
                    <div ng-message="md-maxlength">The phone must be less than 30 characters long.</div>
                  </div>
                </md-input-container>
                <div class="newadd-btn-wrap">
                  <md-button class="btn" type="submit" ng-disabled="!storeForm.$valid"><span ng-hide="store.id">Submit</span><span ng-show="store.id">Update Store</span></md-button>
                </div>
            </form>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
</div>
