<div layout="column" layout-fill class="header-wrap header-btm-tabs header-btm-tabs blue-pinck-bg" id="mainheader">
    <div class="header dv-padding">
        <div class="header-title-wrap">
            <span class="heder-button-left"><md-button ui-sref="dashboard"><i class="material-icons">keyboard_arrow_left</i></md-button></span>
            <div class="header-title">My Orders</div>
        </div>
  </div>
</div><!-- /.header-wrap -->
<div layout="column" layout-fill class="footer-padding">
    <div class="das-profile-wrap container-white-bg" style="min-height:{{documentHeight}}px;">
        <md-content class="store-list-wrap">
          <md-card md-theme="default'" md-theme-watch ng-show="userOrders" ng-repeat="order in userOrders | toArray | orderBy : '-order_title'">
            <md-card-title>
              <md-card-title-text>
                <span class="store-list-title">{{order.order_title | capitalize}}</span>
                <span class="store-list-des"><strong>Item:</strong> {{order.item_count}}</span>
                <span class="store-list-des"><strong>Order :</strong> {{order.order_date}}</span>
                <span class="store-list-des"><strong>Status:</strong> {{order.order_status | capitalize}}</span>
                <span class="store-list-des"><strong>Pickup Location:</strong> {{order.pickup_address | capitalize}}</span>
                <span class="store-list-des"><strong>Delivery Location:</strong> {{order.deliver_address | capitalize}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="card-media-images cursor-pointer" ui-sref="orderDetails({id: order.order_id})"><img class="order-eye" src="assets/images/view.png" alt="edit icon" ng-click="viewOrderDetails(order)"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
          <md-card md-theme="default'" ng-hide="userOrders">
            <md-card-title>
              <md-card-title-text>
                <span class="no-found-text">No order found</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
    </div>
</div>