<md-dialog id="custom-dialog">
  <form name="userForm">
    <md-toolbar class="blue-pinck-bg">
      <div class="md-toolbar-tools">
        <h3><span>Release Amt.</span></h3>
      <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
            {{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="md-dialog-content" ng-cloak>
        <div flex=""></div>
        <md-input-container class="md-icon-float md-block">
          <label>Release Amount</label>
          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
          <input ng-model="releaseAmt" placeholder="Release Amount" type="text">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button type="button" md-autofocus ng-click="releaseAmount(releaseAmt, releaseRemaining)">
         Save
        </md-button>
      </md-dialog-actions>
    </form>
</md-dialog>