<md-dialog id="custom-dialog">
  <form name="userForm" ng-submit="saveTimeAvailability(daysWithTime)">
    <md-toolbar class="blue-pinck-bg">
      <div class="md-toolbar-tools">
        <h3><span>Edit Availability</span></h3>
        <span flex></span>
        <md-icon ng-click="closeDialog()"><i class="material-icons">close</i></md-icon>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
            {{ajaxResponseMessage}}</div>
        </div>
      </div>

      <div class="md-dialog-content" ng-cloak>
        <div layout="row" ng-repeat="days in availabilitydays">
          <md-input-container>
            <label>Day</label>
            <md-select ng-model="daysWithTime.days[$index]">              
              <md-option value="mon">Mon</md-option>
              <md-option value="tue">Tue</md-option>
              <md-option value="wed">Wed</md-option>
              <md-option value="thu">Thu</md-option>
              <md-option value="fri">Fri</md-option>
              <md-option value="sat">Sat</md-option>
              <md-option value="sun">Sun</md-option>
            </md-select>
          </md-input-container>

          <!-- to time -->
          <md-input-container>
            <label>To</label>
            <md-select ng-model="daysWithTime.fromTime[$index]">
              <md-option><em>None</em></md-option>
              <md-option value="0">12:00 am</md-option>
              <md-option value="1">1:00 am</md-option>
              <md-option value="2">2:00 am</md-option>
              <md-option value="3">3:00 am</md-option>
              <md-option value="4">4:00 am</md-option>
              <md-option value="5">5:00 am</md-option>
              <md-option value="6">6:00 am</md-option>
              <md-option value="7">7:00 am</md-option>
              <md-option value="8">8:00 am</md-option>
              <md-option value="9">9:00 am</md-option>
              <md-option value="10">10:00 am</md-option>
              <md-option value="11">11:00 am</md-option>
              <md-option value="12">12:00 pm</md-option>
              <md-option value="13">1:00 pm</md-option>
              <md-option value="14">2:00 pm</md-option>
              <md-option value="15">3:00 pm</md-option>
              <md-option value="16">4:00 pm</md-option>
              <md-option value="17">5:00 pm</md-option>
              <md-option value="18">6:00 pm</md-option>
              <md-option value="19">7:00 pm</md-option>
              <md-option value="20">8:00 pm</md-option>
              <md-option value="21">9:00 pm</md-option>
              <md-option value="22">10:00 pm</md-option>
              <md-option value="23">11:00 pm</md-option>
            </md-select>
          </md-input-container>

          <!-- from time -->
          <md-input-container>
            <label>From</label>
            <md-select ng-model="daysWithTime.toTime[$index]">
              <md-option><em>None</em></md-option>
              <md-option value="0">12:00 am</md-option>
              <md-option value="1">1:00 am</md-option>
              <md-option value="2">2:00 am</md-option>
              <md-option value="3">3:00 am</md-option>
              <md-option value="4">4:00 am</md-option>
              <md-option value="5">5:00 am</md-option>
              <md-option value="6">6:00 am</md-option>
              <md-option value="7">7:00 am</md-option>
              <md-option value="8">8:00 am</md-option>
              <md-option value="9">9:00 am</md-option>
              <md-option value="10">10:00 am</md-option>
              <md-option value="11">11:00 am</md-option>
              <md-option value="12">12:00 pm</md-option>
              <md-option value="13">1:00 pm</md-option>
              <md-option value="14">2:00 pm</md-option>
              <md-option value="15">3:00 pm</md-option>
              <md-option value="16">4:00 pm</md-option>
              <md-option value="17">5:00 pm</md-option>
              <md-option value="18">6:00 pm</md-option>
              <md-option value="19">7:00 pm</md-option>
              <md-option value="20">8:00 pm</md-option>
              <md-option value="21">9:00 pm</md-option>
              <md-option value="22">10:00 pm</md-option>
              <md-option value="23">11:00 pm</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="resetDays()">
        Reset
      </md-button>
      <md-button type="button" ng-click="addNewday()">
        Add
      </md-button>
      <md-button type="submit" md-autofocus>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>