<md-dialog id="custom-dialog">
	<form name="projectForm" ng-submit="saveApiKey()">
		<md-toolbar class="blue-pinck-bg">
			<div class="md-toolbar-tools">
				<h3><span>Genrate Api Key</span></h3>
			<span flex></span>
				<md-button class="md-icon-button" aria-label="More" ng-click="closeDialog()">
					<md-icon><i class="material-icons">close</i></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
	            <div class="msg-box-wrap">
	                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
	            </div>
	        </div>
	        <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
	            <div class="msg-box-wrap">
	                <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
	                {{ajaxResponseMessage}}</div>
	            </div>
	        </div>
			<div class="md-dialog-content">
				<md-input-container class="md-icon-float md-block">
					<label>Api key</label>
					<input ng-model="user.apiKey" ng-init="inputType='password'" type="{{inputType}}" style="min-width:200px" disabled="disabled">
					<md-icon class="name cursor-pointer" ng-click="inputType=(inputType=='password') ? 'text' : 'password'" ng-show="user.apiKey"><i class="material-icons" ng-if="inputType=='password'">remove_red_eye</i>
					<i class="material-icons" ng-if="inputType=='text'">visibility_off</i></md-icon>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
	      <md-button ng-click="genrateNewApi()" md-autofocus class="genrate-key-link">
	        Genrate Key
	      </md-button>
	      <span flex></span>
	      <md-button type="submit" class="genrate-key-link">
	       Save
	      </md-button>
     	  <md-button type="button" ng-click="sendApiKeyToEmail()" class="genrate-key-link">
	       Send key
	      </md-button>
	    </md-dialog-actions>
    </form>
</md-dialog>