<md-dialog id="custom-dialog">
  <form name="userForm" ng-submit="saveTimeAvailability(daysWithTime)">
    <md-toolbar class="blue-pinck-bg">
      <div class="md-toolbar-tools">
        <h3><span>Availability</span></h3>
        <span flex></span>
        <md-icon ng-click="closeDialog()"><i class="material-icons">close</i></md-icon>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
            {{ajaxResponseMessage}}</div>
        </div>
      </div>

      <div class="md-dialog-content" ng-cloak>
        <div layout="row">
          <md-input-container>
            <label>Day</label>
            <md-select ng-model="daysWithTime.day">              
              <md-option value="everyday">Everyday</md-option>
              <md-option value="mon">Mon</md-option>
              <md-option value="tue">Tue</md-option>
              <md-option value="wed">Wed</md-option>
              <md-option value="thu">Thu</md-option>
              <md-option value="fri">Fri</md-option>
              <md-option value="sat">Sat</md-option>
              <md-option value="sun">Sun</md-option>
            </md-select>
          </md-input-container>

          <!-- to time -->
          <md-input-container>
            <label>From</label>
            <md-select name="fromtime" ng-model="daysWithTime.fromTime">
              <md-option><em>None</em></md-option>
              <md-option value="12:00 am">12:00 am</md-option>
              <md-option value="1:00 am">1:00 am</md-option>
              <md-option value="2:00 am">2:00 am</md-option>
              <md-option value="3:00 am">3:00 am</md-option>
              <md-option value="4:00 am">4:00 am</md-option>
              <md-option value="5:00 am">5:00 am</md-option>
              <md-option value="6:00 am">6:00 am</md-option>
              <md-option value="7:00 am">7:00 am</md-option>
              <md-option value="8:00 am">8:00 am</md-option>
              <md-option value="9:00 am">9:00 am</md-option>
              <md-option value="10:00 am">10:00 am</md-option>
              <md-option value="11:00 am">11:00 am</md-option>
              <md-option value="12:00 pm">12:00 pm</md-option>
              <md-option value="1:00 pm">1:00 pm</md-option>
              <md-option value="2:00 pm">2:00 pm</md-option>
              <md-option value="3:00 pm">3:00 pm</md-option>
              <md-option value="4:00 pm">4:00 pm</md-option>
              <md-option value="5:00 pm">5:00 pm</md-option>
              <md-option value="6:00 pm">6:00 pm</md-option>
              <md-option value="7:00 pm">7:00 pm</md-option>
              <md-option value="8:00 pm">8:00 pm</md-option>
              <md-option value="9:00 pm">9:00 pm</md-option>
              <md-option value="10:00 pm">10:00 pm</md-option>
              <md-option value="11:00 pm">11:00 pm</md-option>
            </md-select>
          </md-input-container>

          <!-- from time -->
          <md-input-container>
            <label>To</label>
            <md-select ng-model="daysWithTime.toTime">
              <md-option><em>None</em></md-option>
              <md-option value="12:00 am">12:00 am</md-option>
              <md-option value="1:00 am">1:00 am</md-option>
              <md-option value="2:00 am">2:00 am</md-option>
              <md-option value="3:00 am">3:00 am</md-option>
              <md-option value="4:00 am">4:00 am</md-option>
              <md-option value="5:00 am">5:00 am</md-option>
              <md-option value="6:00 am">6:00 am</md-option>
              <md-option value="7:00 am">7:00 am</md-option>
              <md-option value="8:00 am">8:00 am</md-option>
              <md-option value="9:00 am">9:00 am</md-option>
              <md-option value="10:00 am">10:00 am</md-option>
              <md-option value="11:00 am">11:00 am</md-option>
              <md-option value="12:00 pm">12:00 pm</md-option>
              <md-option value="1:00 pm">1:00 pm</md-option>
              <md-option value="2:00 pm">2:00 pm</md-option>
              <md-option value="3:00 pm">3:00 pm</md-option>
              <md-option value="4:00 pm">4:00 pm</md-option>
              <md-option value="5:00 pm">5:00 pm</md-option>
              <md-option value="6:00 pm">6:00 pm</md-option>
              <md-option value="7:00 pm">7:00 pm</md-option>
              <md-option value="8:00 pm">8:00 pm</md-option>
              <md-option value="9:00 pm">9:00 pm</md-option>
              <md-option value="10:00 pm">10:00 pm</md-option>
              <md-option value="11:00 pm">11:00 pm</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="resetDays()">
        Reset
      </md-button>
      <md-button type="button" ng-click="addNewday()">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>