<md-dialog id="custom-dialog">
  <form name="userForm" ng-submit="sendEmail(userEmailData)">
    <md-toolbar class="blue-pinck-bg">
      <div class="md-toolbar-tools">
        <h3><span>Send Email</span></h3>
      <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
          <div class="msg-box-wrap">
              <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
          </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
          <div class="msg-box-wrap">
              <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
              {{ajaxResponseMessage}}</div>
          </div>
      </div>
      <div class="md-dialog-content">
        <md-input-container md-no-float class="md-block">
          <input ng-model="userEmailData.email" type="email" placeholder="Email" style="min-width:260px" required="required">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="userEmailData.subject" placeholder="Subject" type="text" style="min-width:260px" required="required">
        </md-input-container>
        <md-input-container class="md-block">
          <textarea ng-model="userEmailData.message" md-maxlength="150" rows="5" md-select-on-focus style="min-width:260px" required="required"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button type="submit" md-autofocus ng-disabled="userForm.$invalid">
         Send
        </md-button>
      </md-dialog-actions>
    </form>
</md-dialog>