<md-dialog id="custom-dialog">
  <form name="userForm" ng-submit="saveVendorChanges(vendorEditData)">
    <md-toolbar class="blue-pinck-bg">
      <div class="md-toolbar-tools">
        <h3><span>Vendor edit data</span></h3>
      <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="custom-msg-box succes-msg-box md-dialog-content" ng-show="showSuccess"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">check_circle</i></span>{{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="custom-msg-box errer-msg-box" ng-show="showError"> 
        <div class="msg-box-wrap">
            <div class="msg-box-des"><span class="msg-box-icon"><i class="material-icons">error</i></span>
            {{ajaxResponseMessage}}</div>
        </div>
      </div>
      <div class="md-dialog-content" ng-cloak>
        <md-switch md-invert ng-model="vendorEditData.angularStatus">
          User Status          
        </md-switch>
        <md-input-container class="md-icon-float md-block">
          <label>Commision</label>
          <md-icon class="name"><i class="material-icons">swap_calls</i></md-icon>
          <input ng-model="vendorEditData.commission" placeholder="Commision" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Vendor KM/AUD</label>
          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
          <input ng-model="vendorEditData.vendor_per_km_charge" placeholder="KM/AUD" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Deliveryman KM/AUD</label>
          <md-icon class="name"><i class="material-icons">attach_money</i></md-icon>
          <input ng-model="vendorEditData.deliveryman_per_km_charge" placeholder="KM/AUD" type="text">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button type="submit" md-autofocus>
         Save
        </md-button>
      </md-dialog-actions>
    </form>
</md-dialog>