<md-dialog>
	<md-dialog-content class="md-padding" layout layout-align="center center">
		<h2 class="md-title">Please wait we are finding Driver</h2>
	    <round-progress
	      max="100"
	      current="100"
	      color="#45ccce"
	      bgcolor="#eaeaea"
	      radius="100"
	      stroke="20"
	      semi="true"
	      rounded="true"
	      clockwise="true"
	      responsive="false"
	      duration="2000"
	      animation="easeInOutQuart"
	      animation-delay="0">
	    </round-progress>
    </md-dialog-content>
</md-dialog>