body{
    background: #62cbe4;
    background: -moz-linear-gradient(top,  #62cbe4 0%, #c85d79 100%);
    background: -webkit-linear-gradient(top,  #62cbe4 0%,#c85d79 100%);
    background: linear-gradient(to bottom,  #62cbe4 0%,#c85d79 100%);
    color: #fff;
    width: 100%;
    height:auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
md-divider {
	margin: 25px 0px;
}
.login-signup-tabs .md-tab.md-active {
    cursor: default;
    border-bottom: 5px solid #F58F60;
}
.blue-pinck-bg, .pickup-tab-wrap > .md-stretch-tabs{
	background: #a697e7; /* Old browsers */
	background: -moz-linear-gradient(left,  #a697e7 0%, #e193e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #a697e7 0%,#e193e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #a697e7 0%,#e193e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a697e7', endColorstr='#e193e7',GradientType=1 ); /* IE6-9 */
}
.roboto-font{
	font-family: 'Roboto', sans-serif;
}
.montserrat-font{
	font-family: 'Montserrat', sans-serif;
}
.dv-padding{
	padding-right: 15px;
	padding-left: 15px;
}
.white-bg{
	background: #fff;
}
.bg-white{
	position: relative;
}
.bg-white:before{
	content: '';
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
}
.clr:after{
	content: '';
	clear: both;
	height: 0;
	display: block;
}
.cursor-pointer{
	cursor: pointer;
}
/*===========================
		Header
============================*/
.header{
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-title-wrap{
	position: relative;
}
.heder-button-left, .heder-button-right{
	position: absolute;
	left: -10px;
	top: 0;
}
.heder-button-right{
	left: auto;
	right: 0;
}
.header-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	padding:0 20px;
	text-align: center;
}
.header-wrap button.md-button, .header-wrap a.md-button{
	margin: 0;
	width: 30px;
	height: 30px;
	min-height: auto;
	min-width: auto;
	border-radius: 0;
	background: transparent;
	padding: 0;
	text-align: center;
}
.header-wrap .md-button.md-default-theme:hover:not([disabled]), .header-wrap .md-button:hover:not([disabled]),
.header-wrap button:hover, .header-wrap button:focus{
	background: transparent;
}
.header-wrap button i, .header-wrap a i{
	font-size: 40px;
	font-weight: 500;
	color: #fff;
	line-height: 30px;
	margin: 0;
	padding: 0;
	width: 30px;
}
.header-btm-tabs{
	height: 66px;
}
/*===========================
		Tabs
============================*/
.dv-tabs-wrap{
	position: relative;
	background: #a697e7; /* Old browsers */
	background: -moz-linear-gradient(left,  #a697e7 0%, #e193e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #a697e7 0%,#e193e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #a697e7 0%,#e193e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a697e7', endColorstr='#e193e7',GradientType=1 ); /* IE6-9 */
}
.dv-tabs-wrap md-tab-content{
	background: #fff;
}

.dv-tabs-wrap md-tabs .md-tab {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    max-width: auto;
    color: #fff;
    text-transform: capitalize;
}
.dv-tabs-wrap md-tabs.md-default-theme md-tabs-wrapper, .dv-tabs-wrap md-tabs md-tabs-wrapper {
    background-color: transparent;
    border-color: transparent;
    border-width: 0 0 2px;
    border-style: solid;
    height: 46px;
}
.dv-tabs-wrap md-tabs.md-default-theme md-ink-bar, .dv-tabs-wrap md-tabs md-ink-bar {
    color: #fff;
    background: #fff;
}
.des-addnew-wrap md-tabs-content-wrapper{
	background: #fff;
}
/*===========================
	Update Profile Style
============================*/
.edit-profile .newadd-form md-input-container{
	margin: 20px 0 0;
	padding-bottom : 8px;
}
.edit-profile .newadd-form md-input-container .md-input {
	padding-left: 5px;
}

/*===========================
	New Add form style
============================*/
.newadd-form{
	padding-top: 26px;
}
.newadd-form md-input-container label:not(.md-no-float):not(.md-container-ignore) {
	padding-left: 10px;
	color: #aaa;
	padding-bottom: 7px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.3px;
}
.newadd-form md-icon img{
	max-width: 22px;
}
.newadd-form md-input-container{
	border-bottom: solid 1px #ededed;
	margin: 0;
	margin-top: 14px;
	padding-bottom: 16px;
}
.newadd-form md-input-container .md-errors-spacer {
    display: none;
}
.newadd-form md-input-container .md-input, .newadd-form md-input-container md-select,
.newadd-form md-input-container.md-input-focused md-select, .newadd-form md-input-container.md-input-has-value md-select{
    line-height: 24px;
    height: 24px;
    border-color: transparent;
    padding-left: 13px;
    color: #666;
    font-style: normal;
}

.newadd-form md-input-container md-select .md-select-value,
.newadd-form md-input-container.md-input-focused:not(.md-input-invalid) .md-select-value{
	border-color: transparent;
	color: #666;
	font-style: normal;
}
.newadd-form md-select.ng-empty .md-select-value{
	color: #aaa;
}
.newadd-form md-input-container.md-input-focused:not(.md-input-invalid) .md-input{
	border-color: transparent;
}
.newadd-form md-input-container.md-icon-float > md-icon {
    top: 1px;
    left: 5px;
    right: auto;
}
.newadd-btn-wrap{
	text-align: center;
	margin-top: 26px;
}
.newadd-form md-input-container.md-icon-left {
    padding-left: 30px;
    padding-right: 0;
}
.newadd-form md-input-container.md-icon-left > label:not(.md-no-float):not(.md-container-ignore){
	width: calc(100% - 64px - 18px);
}
.btn{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 10px 10px;
	background: #F58F60;
	color: #fff;
	margin: 0;
	border-radius: 0;
	max-width: 310px;
	margin: auto;
	height: 50px;
	line-height: 21px;
	text-transform: capitalize;
	margin: 10px 0;
}
.btn:hover{
	background: #F58F60;
	color: #fff;
	opacity: 1;
}
.btn.md-button.md-default-theme:hover:not([disabled]), .btn.md-button:hover:not([disabled]) {
    background: #F58F60;
}
button.btn:disabled, button.btn[disabled],
.btn.md-button.md-default-theme[disabled], .btn.md-button[disabled] {
	background: #7A7A7A;
	color: #c8c8c8;
}
.btn.md-button.md-default-theme[disabled], .btn.md-button[disabled]{
	line-height: 26px;
}
.btn.small{
	width: auto;
	padding: 4px 20px;
	height: 40px;
	font-size: 16px;
	line-height: 8px;
}
.newadd-upload-wrap{
	display: table;
	height: 320px;
	width: 100%;
}
.newadd-upload-img{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.newadd-upload-img img{
	max-width: 74px;
	margin: auto;
}
.newadd-stores-form .md-input-focused > label, .newadd-stores-form .md-input-has-value > label{
	display: none;
}
.newadd-stores-form md-input-container.md-input-focused label{
	display: none;
}
/*===========================
	Store list page
============================*/

.store-list-wrap{
	background: #fff;
}
.store-list-title {
    color: #F58F60;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
}
.store-list-des {
    color: #aaa;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
.store-list-wrap md-card{
	margin: 20px 15px;
}
.store-list-wrap md-card-title-text{
	padding-right: 30px;
}
.store-list-wrap md-card md-card-title {
	padding: 15px 18px;
    padding-top: 13px;
}
.store-list-wrap md-card-title-media {
    margin-top: 0;
}
.storelist-btn-wrap{
	text-align: right;
	margin: 15px;
}
.storelist-btn-wrap .btn{
	text-align: center;
	width: 103px;
	font-size: 15px;
	height: 36px;
	line-height: 16px;
}
.store-list-wrap .card-media {
    margin-top: 10px;
    cursor: pointer;
}
.store-list-wrap .card-media img{
	max-width: 20px;
}
/*===========================
	Pickup Location
============================*/

.base-location-wrap md-card{
	margin: 20px 15px;
}
.base-location-des{
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: block;
}
.base-location-title {
    color: #F58F60;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
    display: block;
    text-transform: capitalize;
}
.base-location-btn-wrap{
	margin: 0 20px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
.base-location-wrap md-card md-card-title {
	padding: 17px 18px;
    padding-top: 15px;
}
.store-loc-icon img{
	width: 20px;
	padding-right: 18px;
}
.custom-location-wrap {
    padding: 0 15px;
    margin-top: 20px;
}
.store-loc-icon{
	/*width: 25px;
	height: 25px;
	margin-top: 4px;*/
}
.base-location-wrap md-radio-button{
	margin-bottom: 0;
}
.base-location-wrap .str-velue-wrap{
	padding-left: 5px;
}
.base-location-wrap md-card-title-text{
	padding-left: 10px;
}
.store-loc-icon md-radio-button.md-default-theme .md-on, .store-loc-icon md-radio-button .md-on {
    background-color: #F58F60;
}
.store-loc-icon md-radio-button.md-default-theme.md-checked .md-off,
.store-loc-icon md-radio-button.md-checked .md-off{
	border-color: #F58F60;
}
/*===========================
	order summary wrap
============================*/
.order-details-wrap{
	background: #fff;
}
.order-details-duration{
	background: #fff;
	padding: 24px 15px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.os-column{
	width: 50%;
	float: left;
}
.os-hed-title{
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	line-height: 16px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 0.3px;
}
.os-hed-subtitle{
	font-size: 16px;
	color: #444;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 12px;
	letter-spacing: 0.3px;
	text-align: center;
}
.os-staps-wrap{
	padding: 0 15px;
	position: relative;
	max-width: 250px;
	margin: auto;
	padding-left: 40px;
}
.os-staps{
	max-width: 246px;
	margin: 36px auto;
}
.os-staps-title{
	font-size: 16px;
	color: #444;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 12px;
	letter-spacing: 0.3px;
	position: relative;
}
.os-staps-des{
	font-size: 13px;
	color: #aaa;
	line-height: 16px;
	text-align: left;
}
.os-staps-icon img{
	max-width: 32px;
}
.os-staps-icon{
	display: inline-block;
	vertical-align: top;
}
.os-staps-mtr{
	display: inline-block;
	vertical-align: top;
	max-width: 180px;
	padding-left: 18px;
}
.os-staps-img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20px;
}
.os-staps-img img{
	height: 100%;
	max-height: 213px;
	margin-top: 12px
}
.os-staps-total{
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background: #F7A787;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -3px;
	right: -30px;
}
.das-profile-wrap .das-profile-details {
    padding: 20px 0 10px;
    border-bottom: solid 2px #F2F2F2;
}
.das-profile-wrap md-switch.work-status {
    padding: 0;
    margin: 0;
    margin-top :5px;
}
.das-profile-wrap md-switch.work-status .md-container{
    margin: 0 auto;
	float: none;
}
/*===========================
	order summary wrap
============================*/

.das-profile-wrap{
	background: #fff;
}
.das-profile-details {
    padding: 20px;
    border-bottom: solid 2px #F2F2F2;
}
.das-profile-menu-wrap{
	margin-top: 20px;
	padding-bottom: 30px;
}
.das-profile-menu{
	padding-top: 20px;
	padding-bottom: 8px;
	padding-left: 20px;
	border-bottom: 1px solid #f0f0f0;
}
.das-profile-img {
    width: 80px;
    height: 80px;
    border: solid 1px #333;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}
.das-profile-img img{
	width: 100%;
  height: 106%;
}
.das-profile-name{
	font-size: 16px;
	color: #444;
	line-height: 16px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 10px;
}
.das-profile-edit{
	font-size: 11px;
	color: #F58F60;
	line-height: 16px;
	text-align: center;
}
.profile-menu-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.profile-menu-item{
	font-size: 15px;
	color: #333;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.profile-menu-icon img{
	max-width: 20px;
}

/*===========================
	Login Signup
============================*/

.login-signup-tabs{
	position: relative;
	background: transparent;
	margin-top: 20px;
}
.login-signup-tabs md-tab-content{
	background: transparent;
}

.login-signup-tabs md-tabs .md-tab {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}
.login-signup-tabs md-tabs.md-default-theme md-tabs-wrapper, .dv-tabs-wrap md-tabs md-tabs-wrapper {
    background-color: transparent;
    border-color: transparent;
    border-width: 0 0 2px;
    border-style: solid;
    height: 46px;
}
.login-signup-tabs md-tabs.md-default-theme md-ink-bar, .dv-tabs-wrap md-tabs md-ink-bar {
    color: #fff;
    background: #fff;
}
.login-signup-tabs md-tabs-wrapper{
	border-bottom: solid 2px rgba(255,255,255,0.5);
	height: 46px;
}

.login-signup-tabs md-tabs.md-default-theme md-ink-bar, .login-signup-tabs md-tabs md-ink-bar {
    color: #F38F65;
    background: #F38F65;
}
.login-signup-wrap md-content.md-default-theme, .login-signup-wrap md-content{
	background: transparent;
}
/* form */
.newadd-form.login-signup-form md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    color: #fff;
}
.newadd-form.login-signup-form md-input-container .md-input {
    color: #fff;
}
.newadd-form.login-signup-form md-input-container {
    border-bottom: solid 1px rgba(255,255,255,0.5);
}
.login-signup-form md-radio-button{
	display: inline-block;
	margin-right: 15px;
}
.login-signup-form md-radio-button.md-default-theme .md-off, .login-signup-form md-radio-button .md-off {
    border-color: #fff;
}
.login-signup-form md-radio-button .md-off, .login-signup-form md-radio-button .md-on {
    width: 13px;
    height: 13px
}
.login-signup-form md-radio-button .md-container {
    width: 13px;
    height: 13px;
}
.login-signup-form md-radio-group{
	text-align: center;
	display: block;
	margin-top: 20px;
}
.login-signup-form md-radio-button .md-label{
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.3px;
	margin-left: 24px;
}
.login-signup-form md-radio-button.md-default-theme .md-on, .login-signup-form md-radio-button .md-on {
    background-color: #F38F65;
}
.login-signup-btn{
	text-align: center;
	margin-top: 0;
}
.login-signup-btn .btn{
	margin-top: 1px;
}

/*===========================
		Login
============================*/
.header-logo{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
.header-logo img{
	max-width: 130px;
	margin: auto;
}
.login-btn{
	margin-top: 10px;
	text-align: center;
}
.login-botton-link{
	margin-top: 10px;
}
.login-botton-link .login-link-text{
	float: right;
}
.login-botton-link .login-link-text:first-child{
	float: left;
}
.login-link-text a{
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	opacity: 0.4;
}
/*----  input design ------*/

.input-design {
    background: #fff;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.18);
    padding: 0 10px;
}
.input-design.md-input-focused > label, .input-design.md-input-has-value > label{
	display: none;
}
.input-design input{
	color: #666;
	border: transparent;
	margin-top: 8px;
	font-size: 13px;
	line-height: 14px;
}
md-input-focused.input-design input{
	border: transparent;
}
md-input-container.input-design label:not(.md-container-ignore) {
	bottom: 45px;
	left: 10px;
}
.input-design .md-errors-spacer{
	display: none;
}
/*---- textarea design ------*/

.textarea-design{
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.18);
    padding: 0 10px;
}
.textarea-design.md-input-focused > label, .textarea-design.md-input-has-value > label{
	display: none;
}
.textarea-design textarea{
	color: #666;
	border: transparent;
	margin-top: 8px;
	font-size: 13px;
	line-height: 20px;
}
md-input-focused.textarea-design textarea{
	border: transparent;
}
md-input-container.textarea-design label:not(.md-container-ignore) {
	bottom: auto;
	top: 12px;
	left: 10px;
	-webkit-transform: none;
	-ms-transform: none;
	-moz-transform: none;
	transform: none;
}
.textarea-design .md-errors-spacer{
	display: none;
}
/*---- End  textarea design ------*/

.dropl-btn-wrap{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
/*===========================
	goods itemlist wrap
============================*/
.goods-itemlist-wrap{
	padding-top: 15px;
}
.add-glf-wrap{
	position: relative;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.16);
	box-shadow: 0 0 4px rgba(0,0,0,0.16);
	padding: 20px 15px;
	margin: 15px 0;
	background: #fff;
	width: 100%;
}
.gil-btn-remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.gil-btn-remove i{
	font-size: 20px;
	color: #F58F60;
	line-height: 24px;
}
.gil-btn-wrap{
	width: 100%;
	text-align: right;
}
.newadd-form.add-glf-form{
	padding-top: 0;
}
.spick-note-wrap {
	width: 100%;
}
.dv-tabs-wrap.pl-tabs-wrap{
	background: #fff;
}
/*===========================
		massage box
============================*/

.custom-msg-box{
	padding: 10px 20px;
	border-radius: 2px;
	color: #fff;
	margin: 15px 0;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.13);
}
.msg-box-wrap {
    width: 100%;
}
.msg-box-icon{
	position: absolute;
	left: 0;
	top: -4px;
	line-height: 0;
}
.msg-box-des{
	position: relative;
	padding-left: 36px;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.3px;
	opacity: 0.9;
}
.msg-box-icon i {
    font-size: 26px;
    color: #fff;
}
.succes-msg-box{
	background: rgba(103, 206, 173, 0.50);
	border: 1px solid rgb(66, 174, 140);
	border-top: 5px solid #42AE8C;
}
.errer-msg-box{
    background: rgba(214, 74, 74, 0.42);
    border: 1px solid #d05757;
    border-top: 5px solid #d05757;
}
#delivery-boys-tracker .tracker-map {
	position: relative;
}
#delivery-boys-tracker .tracker-map #reload-icon > img {
    position: absolute;
    right: 48px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
}
.newadd-form md-input-container:last-child {
    border: medium none;
}
.item-details-container .item-detalis-lable.active,
.item-details-container .item-detalis-lable.has-value, {
	display: none;
}
.md-select-menu-container md-select-menu:not(.md-overflow) md-content{
	padding-bottom: 0px; 
	padding-top: 0px; 
}
#main-application-body .btn {
	height: auto;
}
/********added 3rd oct********/
.md-subheader .md-subheader-inner{
	padding: 10px 0 0 0;
}
md-list .md-subheader{
	color: #F99B63;
}
.store-list-wrap .card-media{
	text-align: right;
	margin-right: 9px;
	margin-bottom: 3px;
}
.store-list-wrap .card-media-images{
	margin-right: 5px;
	margin-bottom: 3px;
}
.store-list-wrap .card-media-images img{
	width: 33px;
}
.md-list-item-text .item-name{
	
}
md-card-title-text .flex .md-3-line {
	display: inline-block;
}
md-list-item.md-3-line:before{
	min-height: 0px;
}
 md-list-item:before {
	min-height: 0px;
 }
md-list-item.md-3-line>.md-no-style .md-list-item-text h3{
  	color:#F99B63; 
  	text-transform: capitalize;
    margin-bottom: 4px;
  }
md-list-item._md-button-wrap>div.md-button:first-child{
	padding: 0 16px 0px 0px;
}
#loading-bar .bar {
	background-color: #f58f60; 
	height: 4px;
}
#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
#loading-bar-spinner .spinner-icon {
    border-top-color: #f58f60;
    border-left-color: #f58f60;
    height: 22px;
    width: 22px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
}

body.getting-location #loading-bar .bar,
body.getting-location #loading-bar-spinner,
body.getting-location #loading-bar-spinner .spinner-icon {
	display: none;
}

/************Added 4th Oct ************************/
.login-signup-form #signup-mobile-no{
	border-bottom: none;
}
.login-signup-form .login-signup-btn{
	margin-top: 37px;
}
.newadd-form md-input-container.md-icon-left{
	position: relative;
}
.newadd-form md-input-container .md-input-messages-animation{
	position: absolute;
	bottom: 2px;
}
.no-found-text {
    margin-top: 10px;
    color: #191818;
    font-size: 14px;
}
/********added 5th oct************/
.store-list-wrap .order-date{
	float: right;
}
 md-card-title-text .flex .md-3-line{
	    display: -webkit-inline-box;
}
.edit-profile .newadd-form md-input-container .md-input {
	padding-left: 17px;
}
/********* Remove label on focus and has value in full application *********/
#custom-dialog .md-input-has-value label, .md-input-focused label {       
	display: block;
}
.md-input-has-value label, .md-input-focused label{       
	display: none;
}
/******* sticky bottom********/
.sticky-footer .das-profile-menu{
	border-bottom: none;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 11px 13px;
	
}
.sticky-footer .profile-menu-icon{
	margin-right: 0px;
}
.sticky-footer .das-profile-menu-wrap{
	margin-top: 0px; 
}
.das-profile-menu-wrap.sticky-footer{
	text-align: center;
	border-top: 1px solid rgba(21, 19, 19, 0.12);
}
.sticky-footer .profile-menu-icon img{
	width:20px;
	height: 23px;
}
.sticky-footer .profile-menu-icon{
 	display: block;
}
.store-list-wrap .gil-btn-wrap .btn{
	margin: 10px 16px;
}
 #plus-icon{
	width: 21px;
    height: 21px;
}
/******* sticky bottom **********for small devices ********/
@media (max-width:580px) {
.sticky-footer .das-profile-menu{
	border-bottom: none;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 0px;
	margin: 11px 13px;
}
#order-book{
	width: 18px;
    height: 21px;
}

 #plus-icon{
	width: 20px;
    height: 21px;
}
.sticky-footer{
	text-align: center;
	border-top: 1px solid rgba(21, 19, 19, 0.12);
	padding: 0;
}
.sticky-footer .profile-menu-icon img{
	width:19px;
	height: 21px;
}
.sticky-footer .profile-menu-icon{
 	display: block;
}
.sticky-footer #footer-delivery-map{
	width: 24px;
    height: 34px;
}
.sticky-footer .das-profile-menu .profile-menu-item{
	font-size: 10px;
	font-weight: inherit;
	margin-top: 10px;
}
}
/*******7th oct*******/

.sticky-footer .profile-menu-item {
    font-size: 15px;
    color: rgba(51, 51, 51, 0.86);
    }
 .sticky-footer{
 	    background-color: rgba(204, 204, 204, 0.31);
 }
/**********Dialog box*********/
.md-dialog-container .md-dialog-content h2{
	color: rgba(0, 0, 0, 0.75);
	font-size: 17px;
    font-weight: 400;
}
.md-dialog-container md-dialog-actions .md-button{
	    min-width: 65px;
	    font-size: 13px;
}
.md-dialog-container md-dialog md-dialog-actions{
	margin: 0 auto;
}
/********form autofill*********/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
@-webkit-keyframes autofill {
    to {
    	color: #fff;
        background: transparent;
    }
}
.login-signup-wrap input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
/************Drop down********************/
.newadd-form .selection{
	border: none;
    width: 89px;
    background-color: #fff;
    box-shadow: none;
    margin-left: 12px;
    color: #666;
}
.newadd-form .selection:focus{
	outline: none;
}
.md-subheader .md-subheader-content{
	margin-left: 9px;
	color: #F58F60;
}
.store-list-wrap md-card-title-text .store-list-title{
	/*color: #737373;*/
	font-size: 15px;
	font-weight: 500;
}
#delivery-boys-tracker .tracker-map #reload-icon > img{
	z-index: 9;
}
/******************6th oct order****** summary page *******************************/
#order-details .das-profile-wrap .store-list-des{
	display: block;
}
#order-details .order-details, #order-details .delivery-details, #order-details .pick-up-details{
   border: 1px solid rgba(204, 204, 204, 0.38);
   padding:0px 0;
   margin-bottom: 21px;
}
#order-details .newadd-form md-input-container .md-input-messages-animation{
	margin-left:14px;
}
#order-details .das-profile-wrap .newadd-stores-form .md-icon-float input{
	border: 1px solid rgba(204, 204, 204, 0.44);
	height: 25px;
	width: 100px;
}
#order-details .das-profile-wrap .btn{
    background-color: #F58F64;
    color: #fff;
}
#order-details .coupan-code-input{
	display: inline-block;
 	color: #F58F60;
    font-size: 16px;
    margin-right: 10px;
}
#order-details .das-profile-wrap .store-list-des{
	color: rgba(105, 101, 101, 0.66);
	margin: 12px 0px;
}
#order-details .coupen-eye{
	width: 27px;
	margin-left: 15px;
}
#order-details .newadd-stores-form md-input-container{
	display: inline-block;
}
#order-details  .das-profile-wrap .store-list-wrap section{
	border-bottom: 2px solid rgba(204, 204, 204, 0.47);
	border-bottom-style: inset;
}
#order-details  md-input-container .md-input-message-animation{
	padding-top: 0px;
}
#order-details .md-subheader {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#order-details .das-profile-wrap .btn[disabled="disabled"] {
    background: #c0c0c0 none repeat scroll 0 0;
}
/**************************7th oct***********************/
#order-details .das-profile-wrap .newadd-stores-form .md-icon-float input{
	margin-right: 19px;
}
#order-details .login-signup-btn{
	float: right;
}
#vendor-unique-submit{
	float: right;
	font-size: 12px;
	padding: 4px 10px;
	line-height: 19px;
	margin: 21px 0;
	min-height: 24px;
	min-width: 55px;
}
/****************added 7th oct**********/

/*=============Registration page=========*/
#registration-page .newadd-form{
	padding-top: 0px;
}
#registration-page .login-signup-form .login-signup-btn{
	margin-top: 10px;
}
#registration-page .newadd-form md-input-container label:not(.md-no-float):not(.md-container-ignore){
	padding-bottom: 0px;
}
#registration-page .newadd-form md-input-container{
	margin-top: 10px;
}
#registration-page md-input-container .md-input-message-animation:not(.md-char-counter){
	padding-left: 16px;
}
#registration-page .login-signup-tabs{
	margin-top: 10px;
}
/***********Dashboard*******************/
.profile-menu-icon #add-icon{
	    max-width: 23px;
}
.profile-menu-icon #map-icon{
	max-width: 24px;
}
.das-profile-menu#map{
	padding-left: 18px;
}
/***************order-details*****************/
#order-details .store-list-wrap md-card-title-text{
	padding-right: 0px;
	margin-top: 21px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 17px;
}
#order-details md-card{
	box-shadow: none;
}
#order-details .layout-margin{
	background-color: #F5F8F9;
}
#order-details .store-list-wrap md-card md-card-title{
	padding: 0px 0px;
}
#order-details .store-list-wrap md-card{
	margin: 0px 0px;
}
.order-data{
	font-size: 13px;
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.62);
	font-weight: 500;
}
#order-details .store-list-des{
	font-size: 14px;
	color: rgba(105, 101, 101, 0.73);
}
#order-details .md-subheader .md-subheader-inner{
	padding: 0px 0 0 0;
}
#order-details .store-list-wrap .card-media {
    text-align: right;
     margin-right: 0px;
    margin-left: 23px;
    margin-bottom: 3px;
}
#order-details .store-list-wrap md-card-title-text{
	padding-bottom: 65px;
}
.sticky-footer{
	position: fixed;
	bottom: 0px;
	left:0;
	right: 0;
	background-color: #EFEFEF;
	border-top: 1px solid rgba(21, 19, 19, 0.12);
	z-index: 9;
}
#order-details-map-ic i{
	font-size: 24px;
}
.sticky-footer.das-profile-menu-wrap {
    margin-top: 0px;
    padding-bottom: 0px;
}
.md-input-focused #select_value_label_3 span, 
.md-input-focused #select_value_label_1 span,
.md-input-focused #select_value_label_0 span{
	display: none;
}
.md-input-has-value #select_value_label_3 span,
.md-input-has-value #select_value_label_1 span,
.md-input-has-value #select_value_label_0 span{
	display: block;
}
#user-details-heading .md-subheader-content{
	word-spacing: 2px;
	margin-left: 2px;
}
 .newadd-form md-input-container .md-input[disabled]{
 	background-image:none;
 }
 @media (max-width: 959px) and (min-width: 600px){
.dv-padding .layout-sm-column {
  -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: initial;
    flex-direction: initial;
}
}
.newadd-form.login-signup-form md-input-container .md-input{
	position: relative;
    top: 7px;
}
.order-summary-wrap .order-summary-duration{
	margin-top: 10px;
}
.footer-padding{
	padding-bottom: 67px;
}
#mainheader .header-title{
	    padding: 0 8px;
}
.sticky-footer .profile-menu-icon img{
	max-width: 30px;
}
.sticky-footer #footer-delivery-map{
	width: 28px;
    height: 31px;
}
.sticky-footer .profile-menu-item{
	margin-top: 5px;
}
body.delivery-man #loading-bar-spinner {
	/*display: none;*/
}
/*=======9th oct ========*/
.das-profile-menu-wrap{
	margin-top: 0px;
}
.das-profile-menu{
	    padding-top: 16px;
    padding-bottom: 16px;
}
.newadd-form{
	    padding-top: 0px;
}
.edit-profile .newadd-form md-input-container{
	    margin-top: 14px;
    padding-bottom: 14px;
}
#admin-list-user md-list-item._md-button-wrap > div.md-button:first-child { 
	padding: 0 16px 0px 16px;
}
#admin-list-user .md-subheader .md-subheader-inner {
	padding: 16px;
}
md-dialog#custom-dialog .md-dialog-content {
    padding: 10px;
}
md-dialog#custom-dialog md-input-container{
	margin: 0;
}
.genrate-key-link {
    background: transparent;
    text-transform: unset;
    font-weight: 400;
    padding: 0;
    height: auto;
    min-height: auto;
    line-height: 20px;
    text-decoration: underline;
    color: blue;
    font-size: 11px !important;
}
.genrate-key-link.md-button:not([disabled]):hover{
	background: transparent;
	text-decoration: underline;
    color: blue;
}
/*== Transaction html design css ==*/

.merchant-transactions-heading{
	text-align: center;
}
.merchant-transactions-heading .md-headline{
	font-size: 18px;
}
.merchant-transactions-heading .md-subhead{
	font-size: 12px;
	line-height: 16px;
	color: #666;
}
md-card md-card-title.merchant-transactions-heading md-card-title-text:only-child .md-subhead{
	padding: 0;
}
.mt-tra-details-row{
	padding: 5px 0;
}
.mt-amount-request-btn .btn{
	font-size: 14px;
	width: auto;
	padding: 6px 14px;
	height: 38px;
}
.mt-amount-request-btn-des{
	font-size: 11px;
	line-height: 13px;
	color: #777;
	font-style: italic;
}
.mt-earned-amount-vel{
	text-align: right;
}
.mt-transactions-head {
    padding: 10px 5px;
    border-bottom: solid 1px #e3e3e3;
    margin-bottom: 12px;
}
.mt-thed-title {
    font-size: 12px;
    font-weight: 500;
}
.mt-thed-description{
	text-align: center;
}
.mt-thed-date{
	text-align: right;
}
.mt-tdetails-description{
	text-align: center;
}
.mt-tdetails-date{
	text-align: right;
}
.mt-tdetails-des{
	font-size: 12px;
	font-weight: 400;
	color: #444;
}
.mt-transactions-details{
    padding: 10px 5px;
}
.mt-transactions-details:nth-child(odd){
	background: #f9f9f9;
}
.number-code-group{

}
.newadd-form .number-code-group md-input-container#signup-mobile-no:last-child {
    border-bottom: solid 1px rgba(255,255,255,0.5);
    width: 100%;
}
.newadd-form .number-code-group md-input-container md-select, 
.newadd-form .number-code-group md-input-container md-select md-select-value{
    color: #fff;
}
.newadd-form .number-code-group md-input-container.md-input-focused:not(.md-input-invalid) .md-select-value{
	color: #fff;
}
.newadd-form .number-code-group md-input-container.md-input-focused{
	color: #fff;	
}
#order-details .das-profile-wrap .store-list-des a {
    color: #615dd6;
    cursor: pointer;
}
span#show-your-position {
    float: right;
    font-size: 11px;
    position: relative;
    right: 10px;
    color: blue;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
#edit-time-availability {
    float: right;
    background: transparent;
    border: none;
    font-size: 13px;
    color: #F58F60;
}
.edit-profile md-radio-button{
    display: inline-block;
    margin-left: 11px;
    color: #666;
    margin-top :15px;
}
.edit-profile md-radio-button .md-off, 
.edit-profile md-radio-button .md-on {
    margin-top: 3px;
    width: 15px;
    height: 15px;
}
.edit-profile #radio_34,
.edit-profile #radio_35{
	color: #666;
}
/*== Dialog styles ==*/
.md-dialog-content h2.md-title {
    font-size: 13px;
}
.time-availability md-time-picker input {
    color: #666 !important;
}

/*=== Order notification ===*/
.das-profile-menu.new-order-request{
	position: relative;
}
.new-order-request .req-noti-icon{
	color: #47bf00;
	position: absolute;
	left: 160px;
	top: 16px;
}
.new-order-request .req-noti-icon{
    -webkit-animation-name: req-noti;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1000;
    animation-name: req-noti;
    animation-duration: 0.3s;
    animation-iteration-count: 1000;
}
@-webkit-keyframes req-noti {
    0%   {transform: rotate(0);}
    50%  {transform: rotate(35deg);}
    100%  {transform: rotate(0);}
}
@keyframes req-noti {
    0%   {transform: rotate(0);}
    50%  {transform: rotate(35deg);}
    100%  {transform: rotate(0);}
}
.footer-menu-wrapper .new-order-request .material-icons{
	position: relative;
	top: -28px;
	right: 24px;
	color: #A697F6;
}