/*=== Omprakash Style ==*/
body{
    background: #62cbe4;
    background: -moz-linear-gradient(top,  #62cbe4 0%, #c85d79 100%);
    background: -webkit-linear-gradient(top,  #62cbe4 0%,#c85d79 100%);
    background: linear-gradient(to bottom,  #62cbe4 0%,#c85d79 100%);
    color: #fff;
    width: 100%;
    height:auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
/*== Button disabled ==*/
button.btn-block:disabled,
button.btn-block[disabled]{
  border: 1px solid #999999 !im;
  background-color: #cccccc;
  color: #666666;
  cursor: pointer !important;
}
button.btn-block {
	width: 100%;
	/*background-color: #c71919;*/
}
/*== Button focused ==*/
button.btn-block.md-focused {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}
#main-application-body .main-container,
.panel-no-background {
    background: transparent none repeat scroll 0 0;
}
#main-logo-area {
    padding: 40px 0;
}
#main-logo-area img {
    height: 60px;
    margin: 0;
    padding: 0;
    width: auto;
}
.main-panel md-tab-item,
.main-panel md-tab-item.md-active {
	border-bottom: 1px solid #ffffff;
	color: #fff;
}
.main-panel md-tab-item.md-active {
	border-bottom: 1px solid #F38F65;
}
.login-signup-form md-input-container  input,
.login-signup-form md-input-container  label,
.login-signup-form md-input-container .md-char-counter {
	color: #fff;
	font-size: 15px;
}
.login-signup-form md-input-container md-icon {
	color: #fff;
}
.login-signup-form md-input-container {
	margin: 5px 0px;
}
.login-signup-form md-input-container:first-child {
    margin-top: 22px;
}
.login-signup-form md-input-container input {
	border-bottom:1px solid #fff; 
}
.login-signup-form .login-botton-section {
	margin-top: 20px;
}
.login-botton-section a {
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	cursor: pointer;
}

/*----------------- Ajay Pachal -------------*/ 
.blue-pinck-bg{
	background: #a697e7; /* Old browsers */
	background: -moz-linear-gradient(left,  #a697e7 0%, #e193e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #a697e7 0%,#e193e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #a697e7 0%,#e193e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a697e7', endColorstr='#e193e7',GradientType=1 ); /* IE6-9 */
}
.roboto-font{
	font-family: 'Roboto', sans-serif;
}
.montserrat-font{
	font-family: 'Montserrat', sans-serif;
}
.dv-padding{
	padding-right: 15px;
	padding-left: 15px;
}
.white-bg{
	background: #fff;
}
.bg-white{
	position: relative;
}
.bg-white:before{
	content: '';
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
}
.clr:after{
	content: '';
	clear: both;
	height: 0;
	display: block;
}
/*===========================
		Header
============================*/
.header{
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-title-wrap{
	position: relative;
}
.heder-button-left, .heder-button-right{
	position: absolute;
	left: -10px;
	top: 0;
}
.heder-button-right{
	left: auto;
	right: 0;
}
.header-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	padding:0 20px;
	text-align: center;
}
.header-wrap button{
	margin: 0;
	width: 30px;
	height: 30px;
	min-height: auto;
	min-width: auto;
	border-radius: 0;
	background: transparent;
	padding: 0;
	text-align: center;
}
.header-wrap .md-button.md-default-theme:hover:not([disabled]), .header-wrap .md-button:hover:not([disabled]), 
.header-wrap button:hover, .header-wrap button:focus{
	background: transparent;
}
.header-wrap button i.material-icons{
	font-size: 40px;
	font-weight: 500;
	color: #fff;
	line-height: 30px;
	margin: 0;
	padding: 0;
	width: 30px;
}
.header-btm-tabs{
	height: 66px;
}
/*===========================
		Tabs 
============================*/
.dv-tabs-wrap{
	position: relative;
	background: #a697e7; /* Old browsers */
	background: -moz-linear-gradient(left,  #a697e7 0%, #e193e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #a697e7 0%,#e193e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #a697e7 0%,#e193e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a697e7', endColorstr='#e193e7',GradientType=1 ); /* IE6-9 */
}
.dv-tabs-wrap md-tab-content{
	background: #fff;
}

.dv-tabs-wrap md-tabs .md-tab {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    max-width: auto;
    color: #fff;
    text-transform: capitalize;
}
.dv-tabs-wrap md-tabs.md-default-theme md-tabs-wrapper, .dv-tabs-wrap md-tabs md-tabs-wrapper {
    background-color: transparent;
    border-color: transparent;
    border-width: 0 0 2px;
    border-style: solid;
    height: 46px;
}
.dv-tabs-wrap md-tabs.md-default-theme md-ink-bar, .dv-tabs-wrap md-tabs md-ink-bar {
    color: #fff;
    background: #fff;
}
.des-addnew-wrap md-tabs-content-wrapper{
	background: #fff; 
}
/*===========================
	New Add form style
============================*/
.newadd-form{
	padding-top: 26px;
}
.newadd-form md-input-container label:not(.md-no-float):not(.md-container-ignore) {
	padding-left: 43px;
	color: #aaa;
	padding-bottom: 3px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}
.newadd-form md-icon img{
	max-width: 22px;
}
.newadd-form md-input-container{
	border-bottom: solid 1px #ededed;
	margin: 0;
	margin-top: 10px;
	padding-bottom: 20px;
}
.newadd-form input{
	padding: 2px 2px 4px;
}
.newadd-form md-input-container .md-errors-spacer {
    display: none;
}
.newadd-form md-input-container .md-input {
    line-height: 24px;
    height: 24px;
    border-color: transparent;
}
.newadd-form md-input-container.md-input-focused:not(.md-input-invalid) .md-input{
	border-color: transparent;
}
.newadd-form md-input-container.md-icon-float > md-icon {
    top: 5px;
    left: 20px;
    right: auto;
}
.newadd-btn-wrap{
	text-align: center;
	margin-top: 26px;
}
.newadd-form md-input-container.md-icon-left {
    padding-left: 55px;
    padding-right: 0;
}
.newadd-form md-input-container.md-icon-left > label:not(.md-no-float):not(.md-container-ignore){
	width: calc(100% - 64px - 18px);
}
.btn{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 10px 10px;
	background: #F58F60;
	color: #fff;
	margin: 0;
	border-radius: 0;
	max-width: 310px;
	margin: auto;
	height: 40px;
	line-height: 21px;
	text-transform: capitalize; 
	margin: 10px 0;
}
.btn:hover{
	background: #F58F60;
	color: #fff;
	opacity: 1;
}
.btn.md-button.md-default-theme:hover:not([disabled]), .btn.md-button:hover:not([disabled]) {
    background: #F58F60;
}
.newadd-upload-wrap{
	display: table;
	height: 320px;
	width: 100%;
}
.newadd-upload-img{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.newadd-upload-img img{
	max-width: 74px;
	margin: auto;
}
/*===========================
	Store list page
============================*/

.store-list-wrap{
	background: #fff;
}
.store-list-title {
    color: #F58F60;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
}
.store-list-des {
    color: #aaa;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
.store-list-wrap md-card{
	margin: 20px 15px;
}
.store-list-wrap md-card-title-text{
	padding-right: 30px;
}
.store-list-wrap md-card md-card-title {
	padding: 15px 18px;
    padding-top: 13px;
}
.store-list-wrap md-card-title-media {
    margin-top: 0;
}
.storelist-btn-wrap{
	text-align: right;
	margin: 15px;
}
.storelist-btn-wrap .btn{
	text-align: center;
	width: 103px;
	font-size: 15px;
	height: 36px;
	line-height: 16px;
}
.store-list-wrap .card-media {
    margin-top: 10px;
    cursor: pointer;
}
.store-list-wrap .card-media img{
	max-width: 20px;
}
/*===========================
	Pickup Location
============================*/

.base-location-wrap md-card{
	margin: 20px 15px;
}
.base-location-des{
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
.base-location-title {
    color: #F58F60;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
}
.base-location-btn-wrap{
	margin: 0 20px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
.base-location-wrap md-card md-card-title {
	padding: 15px 18px;
    padding-top: 13px;
}
.store-loc-icon img{
	width: 20px;
	padding-right: 18px;
}
.custom-location-wrap {
    padding: 0 15px;
    margin-top: 20px;
}
.store-loc-icon{
	width: 25px;
	height: 25px;
	margin-top: 6px;
}
.store-loc-icon md-radio-group{

}
.store-loc-icon md-radio-button .md-off, .store-loc-icon md-radio-button .md-on {
    width: 11px;
    height: 11px;
}
.store-loc-icon md-radio-button.md-default-theme .md-on, .store-loc-icon md-radio-button .md-on {
    background-color: #F58F60;
}
.store-loc-icon md-radio-button .md-off {
    border-style: solid;
    border-width: 1px;
}

/*===========================
	order summary wrap
============================*/
.order-summary-wrap{
	background: #fff;
}
.order-summary-duration{
	background: #fff;
	padding: 24px 15px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.os-column{
	width: 50%;
	float: left;
}
.os-hed-title{
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	line-height: 16px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 0.3px;
}
.os-hed-subtitle{
	font-size: 16px;
	color: #444;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 12px;
	letter-spacing: 0.3px;
	text-align: center;
}
.os-staps-wrap{
	padding: 0 15px;
	position: relative;
	max-width: 250px;
	margin: auto;
	padding-left: 40px;
}
.os-staps{
	max-width: 246px;
	margin: 36px auto;
}
.os-staps-title{
	font-size: 16px;
	color: #444;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 12px;
	letter-spacing: 0.3px;
	position: relative;
}
.os-staps-des{
	font-size: 13px;
	color: #aaa;
	line-height: 16px;
	text-align: left;
}
.os-staps-icon img{
	max-width: 32px;
}
.os-staps-icon{
	display: inline-block;
	vertical-align: top;
}
.os-staps-mtr{
	display: inline-block;
	vertical-align: top;
	max-width: 180px;
	padding-left: 18px;
}
.os-staps-img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20px;
}
.os-staps-img img{
	height: 100%;
	max-height: 213px;
	margin-top: 12px
}
.os-staps-total{
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background: #F7A787;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -3px;
	right: -30px;
}
/*===========================
	order summary wrap
============================*/

.das-profile-wrap{
	background: #fff;
}
.das-profile-details{
	padding: 20px;
	border-bottom: solid 2px #F2F2F2;
}
.das-profile-menu-wrap{
	margin-top: 20px;
	padding-bottom: 30px;
}
.das-profile-menu{
	padding-top: 20px;
	padding-bottom: 8px;
	padding-left: 20px;
	border-bottom: 1px solid #f0f0f0;
}
.das-profile-img {
    width: 80px;
    height: 80px;
    border: solid 1px #333;
    overflow: hidden;
    border-radius: 50%; 
    margin: auto;
    margin-top: 10px;
}
.das-profile-img img{
	width: 100%;
}
.das-profile-name{
	font-size: 16px;
	color: #444;
	line-height: 16px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 10px;
}
.das-profile-edit{
	font-size: 11px;
	color: #F58F60;
	line-height: 16px;
	text-align: center;
}
.profile-menu-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.profile-menu-item{
	font-size: 15px;
	color: #333;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.profile-menu-icon img{
	max-width: 20px;
}